extends common/layout

block content
    //.modal-lang
    //    .modal-lang__body
    //        .modal-lang__option RU
    //        .modal-lang__option KZ

    include includes/index/modal-form
    include mixins/button-scroll

    include includes/index/first-screen
    include includes/index/modes
    include includes/index/counter
    include includes/index/call-to-action
    include includes/index/advantages
    include includes/index/requirements
    include includes/index/faq
