.button {
    display: block;

    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -.1rem;
    color: #FFFFFF;
    text-transform: uppercase;

    padding: 1.8rem 3rem;

    background: gray;
}

@media screen and (max-width: 768px) {
    .button {
    }
}
