.button-scroll {
    width: 9.5rem;
    z-index: 3;
}
.button-scroll__arrow {
    width: 9.5rem;
    height: 4.5rem;
    background: linear-gradient(283.25deg, #FF0000 -55.08%, #FF8946 102.01%), #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
        width: 2.8rem;
        height: 1.5rem;
    }
}
.button-scroll__arrow {
    &-2 {
        .button-scroll__arrow-icon {
            transform: rotate(180deg);
        }
    }
}
.button-scroll__text {
    height: 13rem;

    font-size: 1.9rem;
    line-height: 134.7%;
    text-align: center;
    letter-spacing: .55rem;
    color: #FFFFFF;
    text-transform: uppercase;

    background: rgba(19, 19, 19, .58);

    position: relative;

    &-line {
        position: absolute;
        top: calc(50% - .5rem);
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}
