extends common/layout

block header

block content

    include includes/index/modal-form

    // only first-screen has background image, which breaks page-container
    include includes/index/first-screen
    .page-container
        include includes/index/steps-and-requirements
        include includes/index/beta-test
        include includes/index/why-play
        include includes/index/counter
        include includes/index/gallery
        include includes/index/call-to-action
        include includes/index/faq

