.button {
    font-weight: 500;
    font-size: 1.1rem;
    color: #FFFFFF;
    text-transform: uppercase;

    background: #9965FB;
    box-shadow: 0 .4rem 3.5rem rgba(197, 91, 234, 0.41);
    border-radius: .5rem;

    height: 6.8rem;
    width: 25rem;

    &:disabled {
        cursor: default;
    }
}
