.footer {
    padding: 6rem 0;
}
.footer__container {
    display: flex;
    align-items: center;
}
.footer__group {
    display: flex;
    align-items: center;
    margin-right: 3.2rem;
}
.footer__logo {
    flex: 0 0 auto;
    margin-right: 3.2rem;
}
.footer__notifications {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: (33/18);
}
.footer__warning {
    color: #F8F8F8;
}
.footer__copyright {
    color: #A6A6A6;
}
.footer__menu {
    flex: 0 0 auto;

    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;

    margin-top: 1rem; // offset .footer-menu-item margin-bottom

    margin-left: auto;
    .svg-cookies {
        width: 2.7rem;
        height: 2.8rem;
    }
    .svg-book {
        width: 2.5rem;
        height: 2.5rem;
    }
    .svg-faq {
        width: 2.9rem;
        height: 2.8rem;
    }
    .svg-support {
        width: 2.8rem;
        height: 2.7rem;
    }
    .svg-license {
        width: 2.9rem;
        height: 2.8rem;
    }
    .svg-company {
        width: 2.7rem;
        height: 2.7rem;
    }
}
.footer__menu-item {

}
.footer-menu-item {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: (18/15);
    color: #BCBCBC;

    text-decoration: none;

    display: flex;
    align-items: center;

    margin-right: 1rem;
    margin-bottom: 1rem;

    &__icon {
        width: 2.9rem; // 2.9rem - max size of icon. Need this line to perfectly align text
        display: flex;
        justify-content: center;

        flex: 0 0 auto;
        margin-right: .6rem;
    }
}

@media screen and (max-width: 1240px) {
    .footer__group {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__logo {
        margin-bottom: 2.4rem;
    }
    .footer__notifications {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 992px) {
    .footer__menu {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
@media screen and (max-width: 576px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__group {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .footer__logo {
        margin: 0;
    }
    .footer__notifications {
        text-align: center;
    }
}
