.h1-title {
    font-weight: 900;
    font-size: 2.6rem;
    line-height: 138.2%;
    letter-spacing: -.1rem;
    color: #FFFFFF;
    .highlighted {
        color: #FFEA9F;
    }
}
.h2-title {
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 138.2%;
    letter-spacing: -.1rempx;
    color: #FFFFFF;

    &_centered {
        text-align: center;
    }
    .highlighted {
        color: #FFEA9F;
    }
}
.h3-title {
    font-weight: 900;
    font-size: 2.6rem;
    line-height: 138.2%;
    letter-spacing: -.1rem;
    color: #FFFFFF;
    &_centered {
        text-align: center;
    }
    .highlighted {
        color: #FFEA9F;
    }
}
.text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 164.7%;
    letter-spacing: -.1rem;
    color: #FFFFFF;

    &_centered {
        text-align: center;
    }
    .bold {
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
    .h1-title {
        font-size: 2.6rem;
    }
}
@media screen and (max-width: 576px) {
    .h1-title {
        font-size: 2.2rem;
    }
    .h2-title {
        font-size: 2.4rem;
        text-align: center;
        br {
            display: none;
        }
    }
}
