.footer
    .page-container.footer__container
        .footer__group
            .footer__logo
                svg.logo
                    use(xlink:href="/img/logo.svg#logo")
            .footer__notifications
                .footer__warning
                    | Участие в азартных играх запрещено лицам, не достигшим 21 года!
                .footer__copyright
                    | © 2020 «CyberT» все права защищены (с)
        ul.footer__menu
            -
                var items = [
                    {
                        icon: 'cookies',
                        text: 'Про Cookie',
                        link: '#'
                    },
                    {
                        icon: 'book',
                        text: 'Соглашения',
                        link: '#'
                    },
                    {
                        icon: 'faq',
                        text: 'FAQ',
                        link: '#'
                    },
                    {
                        icon: 'support',
                        text: 'Поддержка',
                        link: '#'
                    },
                    {
                        icon: 'license',
                        text: 'Лицензия',
                        link: '#'
                    },
                    {
                        icon: 'company',
                        text: 'О компании',
                        link: '#'
                    }
                ]
            each item in items
                li.footer__menu-item
                    a(href= item.link).footer-menu-item
                        .footer-menu-item__icon
                            svg(
                                class= 'svg-' + item.icon
                            )
                                use(xlink:href='/img/svg-' + item.icon + '.svg#' + item.icon)
                        = item.text
