doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            block title
                title Title your site
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="shortcut icon" href="img/favicon.png" type="image/png")

            link(rel="stylesheet" href="css/style.min.css")

            include fonts
    body
        // include variables

        block header
            include header
        block content
        block footer
            include footer
        block scripts
            script(src='js/main.min.js')

