.advantages {

}
.advantages__container {
    padding-top: 16rem;
    padding-bottom: 10rem;
}
.advantages__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url(../img/advantages-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.advantages__decoration-line-1 {
    width: .5rem;
    height: 11.5rem;

    background: linear-gradient(90deg, #EC7919 0%, #EC7919 0.01%, #FF0000 100%);

    position: absolute;
    left: 9.5rem;
    top: 4rem;
}
.advantages__decoration-line-2 {
    width: .5rem;
    height: 11.5rem;

    background: linear-gradient(90deg, #EC7919 0%, #EC7919 0.01%, #FF0000 100%);

    position: absolute;
    left: 9.5rem;
    transform: translateX(-100%);
    top: 39.5rem;
}
.advantages__decoration-line-3 {
    width: .5rem;
    height: 16rem;

    background: linear-gradient(90deg, #EC7919 0%, #EC7919 0.01%, #FF0000 100%);

    position: absolute;
    right: 9.5rem;
    transform: translateX(100%);
    top: 7.5rem;
}
.advantages__button-scroll {
    position: absolute;
    left: 0;
    bottom: 0;
    .button-scroll__arrow-1 {
        background: linear-gradient(293.49deg, #BD0000 14.4%, #282828 146.66%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(255, 61, 0, 0.62);
    }
    .button-scroll__arrow-2 {
        background: linear-gradient(293.49deg, #BD0000 14.4%, #282828 146.66%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(255, 61, 0, 0.62);
    }
}

.advantages__content {
    display: inline-block;
    position: relative;
    padding-left: 2.4rem;
    // max-width: 53rem + 53rem + 4.4rem;
}
.advantages__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 22.5rem;
    line-height: 1;
    letter-spacing: -0.02em;

    background: radial-gradient(17.42% 56.48% at 23% 100%, #8F00FF 0%, rgba(246, 121, 12, 0) 100%), radial-gradient(24.94% 80.84% at 77.32% 100%, #FFA800 0%, rgba(246, 121, 12, 0) 100%), linear-gradient(286.27deg, #FF0000 3.29%, #DB6A19 101.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    padding-left: 1.2rem;
    margin-bottom: 1rem;
}
.advantages__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 53rem));
    grid-gap: 2.8rem 4.4rem;

    position: relative;
    &:before {
        content: '';

        width: 55.5rem;
        height: .55rem;

        position: absolute;
        top: calc(100% + 2rem);
        left: -2.4rem;

        background: linear-gradient(90deg, #EC7919 0%, #EC7919 0.01%, #FF0000 100%);
    }
    &:after {
        content: '';

        width: 11.5rem;
        height: .5rem;

        position: absolute;
        top: 100%;
        right: 0;

        background: linear-gradient(90deg, #EC7919 0%, #EC7919 0.01%, #FF0000 100%);
    }
}
.advantages-item {
    position: relative;
    padding: 1.2rem 1.7rem;

    &:after {
        content: '';

        width: calc(100% - 1.7rem*2);
        height: calc(100% - 2.4rem);

        position: absolute;
        left: 1.7rem;
        top: 1.2rem;

        border: 1px solid rgba(124,25,202, .17);
    }

    &__inner {
        padding-left: 1.7rem;
        padding-right: 1.7rem;
        padding-bottom: 1rem;
    }
    &__icon {
        z-index: 1;
    }
    &__title {
        font-weight: 400;
        font-size: 3.5rem;
        line-height: (42/35);
        text-align: center;
        color: #FFFFFF;

        margin-bottom: 1.5rem;
    }
    &__text {
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 101.4%;
        text-align: center;
        color: #CFCFCF;
    }
}
.advantages-item {
    &-1 {
        background: radial-gradient(37.69% 33.53% at 50% 0%, rgba(255, 0, 199, 0.6) 0%, rgba(173, 0, 255, 0) 100%), radial-gradient(44.73% 44.73% at 50% 0%, rgba(149, 85, 254, 0.4) 0%, rgba(125, 136, 236, 0) 100%), linear-gradient(0deg, rgba(84, 84, 84, 0.05), rgba(84, 84, 84, 0.05)), rgba(96, 0, 219, 0.07);
        box-shadow: 0 0 2.2rem rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1.4rem);
        .advantages-item {
            &__inner {
                padding-top: 11.5rem;
            }
            &__icon {
                width: 18.5rem;
                height: 24.8rem;

                position: absolute;
                left: calc(50%);
                transform: translateX(-50%);
                top: -9.2rem;
            }
        }
    }
    &-2 {
        background: radial-gradient(37.69% 33.53% at 50% 0%, #FF0000 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(44.73% 44.73% at 50% 0%, rgba(254, 85, 85, 0.4) 0%, rgba(236, 125, 125, 0) 100%), linear-gradient(0deg, rgba(84, 84, 84, 0.05), rgba(84, 84, 84, 0.05)), rgba(219, 0, 0, 0.07);
        box-shadow: 0 0 2.2rem rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1.4rem);
        .advantages-item {
            &__inner {
                padding-top: 11.5rem;
            }
            &__icon {
                width: 21.5rem;
                height: 22.7rem;

                position: absolute;
                left: calc(50%);
                transform: translateX(-50%);
                top: -10rem;
            }
        }
    }
    &-3 {
        background: radial-gradient(37.69% 33.53% at 50% 0%, rgba(0, 160, 35, 0.6) 0%, rgba(8, 31, 0, 0) 100%), radial-gradient(44.73% 44.73% at 50% 0%, rgba(112, 255, 0, 0.4) 0%, rgba(35, 83, 60, 0) 100%), linear-gradient(0deg, rgba(84, 84, 84, 0.05), rgba(84, 84, 84, 0.05)), rgba(44, 219, 0, 0.07);
        box-shadow: 0 0 2.2rem rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1.4rem);
        .advantages-item {
            &__inner {
                padding-top: 11.5rem;
            }
            &__icon {
                width: 18.9rem;
                height: 21.5rem;

                position: absolute;
                left: calc(50%);
                transform: translateX(-50%);
                top: -7.3rem;
            }
        }
    }
    &-4 {
        background: radial-gradient(37.69% 33.53% at 50% 0%, rgba(255, 171, 0, 0.6) 0%, rgba(255, 61, 0, 0) 100%), radial-gradient(44.73% 44.73% at 50% 0%, rgba(254, 198, 85, 0.4) 0%, rgba(236, 151, 125, 0) 100%), linear-gradient(0deg, rgba(84, 84, 84, 0.05), rgba(84, 84, 84, 0.05)), rgba(219, 131, 0, 0.07);
        box-shadow: 0 0 2.2rem rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1.4rem);
        .advantages-item {
            &__inner {
                padding-top: 11.5rem;
            }
            &__icon {
                width: 20.9rem;
                height: 25.4rem;

                position: absolute;
                left: calc(50% + 1.5rem);
                transform: translateX(-50%);
                top: -10rem;
            }
        }
    }
}
.advantages__button {
    background: linear-gradient(286.71deg, #5F0000 2.71%, #DB2219 101.91%);
    box-shadow: .8rem 0 2.6rem rgba(255, 107, 0, 0.14), -7px 0px 26px rgba(255, 0, 0, 0.4);

    position: absolute;
    top: calc(100% + 2.5rem);
    right: 0;
}
.advantages__decoration-1 {
    max-width: none;
    width: 107rem;
    height: 114rem;

    position: absolute;
    right: -33rem;
    top: 2.4rem;
    z-index: 1;
}
.advantages__decoration-2 {
    max-width: none;
    width: 84rem;
    height: 84rem;

    position: absolute;
    left: -41.5rem;
    top: 8rem;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .advantages {

    }
    .advantages__container {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    .advantages__background {
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//
//         background-image: url(../img/advantages-background.png);
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
    }
    .advantages__decoration-line-1 {
        display: none;
    }
    .advantages__decoration-line-2 {
        display: none;
    }
    .advantages__decoration-line-3 {
        display: none;
    }
    .advantages__button-scroll {
        display: none;
    }

    .advantages__content {
        display: block;
        padding-left: 0;
    }
    .advantages__title {
        font-size: 13rem;
        text-align: center;

        padding-left: 0;
        margin-bottom: 9rem;
    }
    .advantages__items {
        display: grid;
        grid-template-columns: minmax(0, 53rem);
        grid-gap: 5.6rem;
        justify-content: center;

        position: relative;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
    .advantages-item {
        position: relative;
        padding: 1.2rem 1.7rem;

        &:after {
        }

        &__inner {
            padding-left: 1.7rem;
            padding-right: 1.7rem;
            padding-bottom: 1rem;
        }
        &__icon {
            z-index: 1;
        }
        &__title {
            font-weight: 400;
            font-size: 3.5rem;
            line-height: (42/35);
            text-align: center;
            color: #FFFFFF;

            margin-bottom: 1.5rem;
        }
        &__text {
            font-weight: 400;
            font-size: 1.9rem;
            line-height: 101.4%;
            text-align: center;
            color: #CFCFCF;
        }
    }
    .advantages__button {
        display: none;
    }
    .advantages__decoration-1 {
        width: 107rem;
        height: 114rem;

        position: absolute;
        right: -33rem;
        top: 2.4rem;
        z-index: -1;

        opacity: .18;
    }
    .advantages__decoration-2 {
        display: none;
    }
}
