.call-to-action {

}
.call-to-action__container {
    padding-top: 16rem;
    padding-bottom: 4rem;
}
.call-to-action__decoration-line-1 {
    width: .5rem;
    height: 11.5rem;

    background: linear-gradient(90deg, #5DEC19 0%, #00E0FF 100%);

    position: absolute;
    right: 9.5rem;
    top: 33rem;

    z-index: 1;
}
.call-to-action__decoration-line-2 {
    width: .5rem;
    height: 11.5rem;

    background: linear-gradient(90deg, #5DEC19 0%, #00E0FF 100%);

    position: absolute;
    left: 9.5rem;
    bottom: 17.5rem;

    z-index: 1;
}
.call-to-action__background {
    background-image: url(../img/call-to-action-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.call-to-action__button-scroll {
    position: absolute;
    right: 0;
    bottom: 0;
    .button-scroll__arrow-1 {
        background: linear-gradient(293.49deg, #6B0EB5 14.4%, #19DB44 146.66%), #D9D9D9;
    }
    .button-scroll__arrow-2 {
        background: linear-gradient(119.44deg, #8C00BD 8.8%, #19DB4F 113.21%), #D9D9D9;
    }
}
.call-to-action__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 46rem;
    line-height: 1;
    letter-spacing: 0.005em;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;

    background: radial-gradient(52.85% 175.59% at 81.98% 185.72%, #8F00FF 0%, rgba(36, 113, 0, 0) 100%), radial-gradient(27.41% 91.08% at 12.52% 0%, #300060 0%, rgba(94, 0, 152, 0) 100%), linear-gradient(99.54deg, #80FF00 19.43%, #41FF54 53.42%, #41FF54 92.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    margin-bottom: 2rem;
}
.call-to-action__content {
    background: radial-gradient(21.19% 64.8% at 23.18% 0%, rgba(82, 0, 255, 0.51) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(270deg, rgba(0, 56, 255, 0.09) 0%, rgba(0, 0, 0, 0) 52.03%), linear-gradient(86.78deg, rgba(36, 255, 0, 0.09) 0%, rgba(0, 0, 0, 0) 47.88%), rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2.9rem);

    padding-top: 19rem;

    position: relative;
    &:before,
    &:after {
        content: '';

        height: .5rem;
        width: calc(100% - 14rem);

        position: absolute;
        left: 7rem;
        z-index: -3;
    }
    &:before {
        background: linear-gradient(90deg, #610EB5 0%, #C019DB 97.77%), #D9D9D9;
        bottom: 100%;
    }
    &:after {
        background: linear-gradient(90deg, #2AEC19 0%, #8458FF 34.42%, #8F00FF 66.67%, #00FF38 100%);
        top: 100%;

        z-index: -1;
    }
}
.call-to-action__content-inner {

}
.call-to-action__decoration {
    max-width: none;
    width: 149rem;
    height: 138.5rem;

    position: absolute;
    top: -62rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}
.call-to-action__taglines {
    background: radial-gradient(56.88% 56.88% at 51.42% 0%, rgba(5, 255, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.828881) 20.96%, #000000 48.94%, rgba(0, 0, 0, 0.718792) 81.8%, rgba(0, 0, 0, 0) 100%);
    // opacity: 0.84;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10rem;

    padding: 1rem;

    &-part {
        font-variation-settings: 'wght' 700;
        font-size: 7.3rem;
        line-height: 134.7%;
        text-align: center;
        letter-spacing: -.1rem;
        text-transform: uppercase;

        background: linear-gradient(274.45deg, #00FF38 17.72%, #B02FFF 91.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        position: relative;
        &:after {
            content: '';

            width: .5rem;
            height: 4.4rem;

            background: linear-gradient(90deg, #5CFF58 0%, #00A3FF 100%);

            position: absolute;
            left: calc(100% + 5rem - .25rem);
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
.call-to-action__subtitle {
    font-weight: 400;
    font-size: 3.3rem;
    line-height: 102.2%;
    text-align: center;
    color: #FFFFFF;

    padding-top: 2rem;
    padding-bottom: 5rem;

    background: radial-gradient(21.19% 64.8% at 23.18% 0%, rgba(82, 0, 255, 0.51) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(270deg, rgba(0, 56, 255, 0.09) 0%, rgba(0, 0, 0, 0) 52.03%), linear-gradient(86.78deg, rgba(36, 255, 0, 0.09) 0%, rgba(0, 0, 0, 0) 47.88%), rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2.9rem);
}
.call-to-action__button {
    background: linear-gradient(286.27deg, #2E9100 3.29%, #19DB95 101.92%), linear-gradient(285.56deg, #EB9401 -3.41%, #DB2219 101.94%);
    box-shadow: 0 0 2.8rem rgba(0, 240, 255, 0.2);

    position: absolute;
    left: 50%;
    top: calc(100% - 3rem);
    transform: translateX(-50%);
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .call-to-action {

    }
    .call-to-action__container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .call-to-action__decoration-line-1 {
        display: none;
    }
    .call-to-action__decoration-line-2 {
        display: none;
    }
    .call-to-action__background {
        display: none;
    }
    .call-to-action__button-scroll {
        display: none;
    }
    .call-to-action__title {
        font-size: 18rem;
        letter-spacing: 0.025em;

        margin-bottom: 18rem;
    }
    .call-to-action__content {
        background: none;
        padding-top: 0rem;

        position: relative;
        &:before {
            display: none;
        }
        &:after {
            content: '';

            width: 100%;
            height: 100%;

            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;

            background: rgba(0, 0, 0, 0.81);
        }
    }
    .call-to-action__content-inner {

    }
    .call-to-action__decoration {
        $koef: 2;
        width: 149rem / $koef;
        height: 138.5rem / $koef;

        top: -38rem;
        z-index: -2;
    }
    .call-to-action__taglines {
        background: none;

        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 5rem;

        padding: 1rem;

        &-part {
            font-size: 4rem;

            position: relative;
            &:after {
                left: calc(100% + 2.5rem - .25rem);
            }
        }
    }
    .call-to-action__subtitle {
        max-width: 50rem;
        margin: 0 auto;
        font-size: 2.3rem;

        padding-top: 1.4rem;
        background: none;
        backdrop-filter: none;
        br {
            display: none;
        }
    }
    .call-to-action__button {
        background: linear-gradient(286.27deg, #2E9100 3.29%, #19DB95 101.92%), linear-gradient(285.56deg, #EB9401 -3.41%, #DB2219 101.94%);
        box-shadow: 0 0 2.8rem rgba(0, 240, 255, 0.2);

        position: absolute;
        left: 50%;
        top: calc(100% - 3rem);
        transform: translateX(-50%);
        z-index: 1;
    }
}
