.counter {

}

.counter__container {
    display: flex;
    justify-content: space-between;

    padding-top: 10rem;
    padding-bottom: 4rem;
}

.counter__button-scroll {
    position: absolute;
    right: 0;
    bottom: 0;
    .button-scroll__arrow-1 {
        background: linear-gradient(120.33deg, #00BD79 -14.99%, #FFE600 98.24%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(173, 0, 255, 0.62);
    }
    .button-scroll__arrow-2 {
        background: linear-gradient(297.29deg, #00BD4C -16.93%, #FFA800 113.63%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(173, 0, 255, 0.62);
    }
}

.counter__decoration-line {
    width: .545rem;
    height: 8.6rem;
    background: linear-gradient(285.56deg, #E2FD0A -3.41%, #16FF6A 101.94%);

    position: absolute;
    top: 30.6rem;
    right: 9.5rem;
    transform: translateX(100%);
}

.counter__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url(../img/counter-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -2; // place counter background under modes__decoration-1
}

.counter__title {
    font-weight: 400;
    font-variation-settings: 'wght' 600, 'wdth' 87.5;
    font-size: 7.5rem;
    line-height: (90/75);
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-transform: uppercase;

    padding-left: 3.5rem;

    .accent {
        display: inline-block;

        font-family: 'Bebas Neue', sans-serif;
        font-weight: 700;
        font-size: 20.5rem;
        line-height: 1;
        letter-spacing: 0.02em;

        background: linear-gradient(282.28deg, #00FF75 -4.32%, #F8FD00 102.04%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        margin-top: -3rem;
    }
}
.counter__decoration {
    width: 91.9rem;
    height: 102.6rem;

    position: absolute;
    left: -22.5rem;
    top: 12rem;
    z-index: -1;
}
.counter__content {
    flex: 0 0 auto;
    max-width: 36rem*3 + 1.4rem*2;

    position: relative;
    margin-right: 3.2rem;
    margin-top: 5.5rem;

    &:before {
        content: '';

        width: 1rem;
        height: 100%;

        background: linear-gradient(180deg, #E4FD09 0%, #2ABA40 100%);

        position: absolute;
        right: calc(100% + 2.4rem);
        top: 0;
    }
}
.counter__promo {
    font-weight: 600;
    font-size: 4rem;
    line-height: 98.7%;
    letter-spacing: -.1rem;
    text-transform: uppercase;
    color: #FFFFFF;

    background: linear-gradient(282.28deg, rgba(0, 255, 117, 0.46) -4.32%, rgba(248, 253, 0, 0.46) 102.04%), rgba(0, 0, 0, 0.64);
    box-shadow: 0 0 7rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(.4rem);

    padding: 1.6rem 1rem;

    margin-bottom: 2.4rem;
}
.counter__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 36rem));
    grid-gap: 1.4rem;

    margin-bottom: 1.2rem;

    position: relative;

    &:before {
        content: '';

        width: .545rem;
        height: 6.6rem;

        background: linear-gradient(285.56deg, #E2FD0A -3.41%, #16FF6A 101.94%);

        position: absolute;
        right: 100%;
        bottom: -1rem;
    }
}
.counter-item {
    background: radial-gradient(139.69% 33.28% at 50% 0%, rgba(0, 255, 194, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 7rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(.8rem);

    padding: 5rem 2.4rem 3.4rem;

    text-align: center;

    position: relative;
    &:before {
        content: '';

        width: 100%;
        height: .5rem;

        background: linear-gradient(285.56deg, #E2FD0A -3.41%, #16FF6A 101.94%);

        position: absolute;
        bottom: 100%;
        left: 0;
    }
}
.counter-item__title {
    font-variation-settings: 'wght' 600;
    font-size: 3rem;
    line-height: (36/30);
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-transform: uppercase;

    margin-bottom: 23rem;

    .accent {
        font-variation-settings: 'wght' 350;
        font-size: 4rem;
        line-height: (48/40);
        letter-spacing: -0.015em;

        background: linear-gradient(282.28deg, #00FF75 -4.32%, #F8FD00 102.04%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        margin-top: -.5rem;
    }
}
.counter-item__title-1 {
    display: none;
}
.counter-item__center {
    margin-bottom: 6rem;
    .of {
        font-variation-settings: 'wght' 700, 'wdth' 87.5;
        font-size: 9.1rem;
        line-height: (109/91);
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }
    .engaged {
        font-variation-settings: 'wght' 300, 'wdth' 87.5;
        font-size: 9.1rem;
        line-height: (109/91);
        letter-spacing: -0.015em;

        background: linear-gradient(282.28deg, #00FF75 -4.32%, #F8FD00 102.04%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.counter-item__caption {
    font-variation-settings: 'wght' 300;
    font-size: 1.9rem;
    line-height: (23/19);
    letter-spacing: -0.015em;
    color: #777777;
    text-transform: uppercase;
    text-align: left;

    &_align-right {
        text-align: right;
    }

    &-1 {
        margin-bottom: -1.75rem;
    }
    &-2 {
        margin-top: -1.75rem;
    }
}
.counter-item__bottom {
    font-variation-settings: 'wght' 350;
    font-size: 4rem;
    line-height: (48/40);
    letter-spacing: -0.015em;

    background: linear-gradient(282.28deg, #00FF75 -4.32%, #F8FD00 102.04%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.counter__bottom {
    display: flex;
    align-items: center;
}
.counter__text {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 101.4%;
    color: #DEDEDE;

    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 7rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(.8rem);
    padding: 1.1rem .75rem;

    flex-grow: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 1.4rem;
}
.counter__button {
    flex: 0 0 auto;
    width: 36rem;

    background: linear-gradient(91.58deg, #008B59 -6.6%, #AA9900 108.7%);
    box-shadow: 0 0 4.1rem #000000;

    // margin-left: 1.4rem;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .counter {

    }

    .counter__container {
        display: block;

        padding: 4rem 2.4rem 4rem;
    }

    .counter__button-scroll {
        display: none;
    }

    .counter__decoration-line {
        display: none;
    }

    .counter__background {
        display: none;
    }

    .counter__title {
        letter-spacing: -0.055em;
        text-align: center;

        padding-left: 0;
        margin-bottom: 7rem;

        .accent {
            display: block;

            font-size: 15rem;
            letter-spacing: 0.01em;

            margin-top: -1rem;
        }
    }
    .counter__decoration {
        display: none;
    }
    .counter__content {
        max-width: none;

        margin-right: 0;
        margin-top: 0;

        &:before {
            display: none;
        }
    }

    .counter__items {
        display: flex;
        flex-direction: column;
        grid-gap: 0;

        margin-bottom: 1.5rem;

        &:before {
            display: none;
        }
    }
    .counter-item {
        padding: 1.6rem 2rem 1.6rem;

        text-align: center;

        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }

        position: relative;
        &:before {
            content: '';

            width: 100%;
            height: .5rem;

            background: linear-gradient(285.56deg, #E2FD0A -3.41%, #16FF6A 101.94%);

            position: absolute;
            bottom: 100%;
            left: 0;
        }
    }
    .counter-item__top {
        display: flex;
        justify-content: space-between;

        margin-bottom: 4rem;
    }
    .counter-item__title {
        margin-bottom: 0;

        .accent {
            margin-top: -.5rem;
        }
    }
    .counter-item__title-1 {
        display: block;
        text-align: left;
    }
    .counter-item__title-2 {
        display: block;
        text-align: right;
    }
    .counter-item__center {
        display: inline-block;
        margin-bottom: 2.4rem;
        .of {
        }
        .engaged {
        }
    }
    .counter-item__caption {
    }
    .counter-item__bottom {
        //display: none;
    }

    .counter__bottom {
        display: block;
    }
    .counter__text {
        text-align: center;

        margin-bottom: 4.5rem;
        margin-right: 0;
    }
    .counter__button {
        width: 36rem;

        margin: 0 auto;
    }

}
