.faq {

}
.faq__container {
    padding-top: 4rem;
    padding-bottom: 18rem;
}
.faq__background {
    background-image: url(../img/faq-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}
.faq__decoration-line-1 {
    width: .55rem;
    height: 10rem;

    background: linear-gradient(269.97deg, #EB01B8 -6.49%, #8619DB 42.77%);

    position: absolute;
    left: 9.5rem;
    transform: translateX(-100%);
    top: 31.5rem;
}
.faq__decoration-line-2 {
    width: .55rem;
    height: 10rem;

    background: linear-gradient(269.97deg, #EB01B8 -6.49%, #8619DB 42.77%);

    position: absolute;
    right: 9.5rem;
    transform: translateX(100%);
    bottom: 34rem;
}
.faq__title {
    font-variation-settings: 'wght' 600, 'wdth' 87.5;
    font-size: 7.5rem;
    line-height: (90/75);
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-transform: uppercase;

    text-align: center;

    .accent {
        font-family: 'Bebas Neue';
        font-weight: 700;
        font-size: 19.8rem;
        line-height: 1;
        letter-spacing: 0.02em;

        background: linear-gradient(284.8deg, #BD00FF -2.82%, #5719DB 101.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.faq__content {
    max-width: 98rem;
    margin: 0 auto;

    background: rgba(13, 13, 13, 0.5);
    box-shadow: 0 0 7rem rgba(169, 60, 255, 0.25);
    backdrop-filter: blur(.8rem);

    padding: 2.4rem 3rem 6.8rem;

    position: relative;
}

/* accordion */
.accordion {
}
.accordion-item {
  margin-bottom: 1.4rem;
  &.active {
    .accordion-item {
        &__header {
        }
    }
  }
  &__header {
    background: rgba(217, 217, 217, 0.12);

    font-weight: 400;
    font-size: 2.3rem;
    color: #FFFFFF;

    padding: 1rem 2rem;
    cursor: pointer;
    position: relative;
  }
  &__panel {
    background: rgba(217, 217, 217, 0.12);
    color: #FFFFFF;
    display: none;
    padding: 0 2rem 2rem;

     font-weight: 400;
    font-size: 2.3rem;
    color: #FFFFFF;
  }
}


.faq__form {
    display: flex;
    align-items: center;
}
.faq__form-input {
    flex: 0 0 auto;
    flex-grow: 1;
    border: none;

    font-size: 2.3rem;
    line-height: (28/23);
    color: #FFFFFF;

    background: rgba(217, 217, 217, 0.12);
    padding: 0 1.8rem;
    height: 5.2rem;

    &::placeholder {
        color: #6B6B6B;
    }
}
.faq__form-button {
    background: linear-gradient(280.78deg, #5F0044 -33.58%, #9D19DB 102.08%), rgba(217, 217, 217, 0.12);

    font-size: 2.3rem;
    font-weight: 400;
    text-transform: none;

    width: 18.5rem;
    height: 5.2rem;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 1.5rem;
}
.faq__button {
    background: linear-gradient(286.71deg, #35005F 2.71%, #9D19DB 101.91%);
    box-shadow: 0 0 4.1rem #000000;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 3.5rem);
}

@media screen and (max-width: 768px) {
    .faq {

    }
    .faq__container {
//         padding-top: 4rem;
        padding-bottom: 9.5rem;
    }
    .faq__background {
        display: none;
    }
    .faq__decoration-line-1 {
        display: none;
    }
    .faq__decoration-line-2 {
        display: none;
    }
    .faq__title {
        margin-bottom: 6rem;
    }
    .faq__content {
        max-width: 98rem;
        margin: 0 auto;

        background: none;
        box-shadow: none;
        backdrop-filter: none;

        padding: 0 1rem;
    }

    /* accordion */
    .accordion {
    }
    .accordion-item {
      &__header {
        font-size: 1.9rem;
        line-height: (23/19);

        padding: 1rem 2rem;
        cursor: pointer;
        position: relative;

        height: 5.2rem;
        display: flex;
        align-items: center;
      }
      &__panel {
        font-size: 1.9rem;
        line-height: (23/19);
      }
    }


    .faq__form {
        margin-bottom: 10.5rem;
    }
    .faq__form-input {
        font-size: 1.9rem;
        line-height: (23/19);
    }
    .faq__form-button {
    }
    .faq__button {
        position: static;
        transform: none;

        margin: 0 auto;
    }
}
