.fisrt-screen {
}
.first-screen__container {
    background-image: url(../img/first-screen-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 21rem;
    padding-bottom: 18.5rem;
}

/*
    ============================================================
    Absolutely positioned elements
    ============================================================
*/
.first-screen__soc-links {
    position: absolute;
    left: (9.5/2) * 1rem;
    top: 4rem;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-screen__soc-link {
    margin-bottom: 3rem;
    &:last-child {
        margin-bottom: 0;
    }
    &-icon {
        color: #FFFFFF;
        width: 2.4rem;
        height: 2.4rem;
    }
}
.first-screen__decoration-line {
    width: .545rem;
    height: 8.6rem;
    background: linear-gradient(285.56deg, #EB9401 -3.41%, #DB2219 101.94%);

    position: absolute;
    bottom: 9rem;
    left: 9.5rem;
    transform: translateX(-100%);
}
.first-screen__arrow-down {
    width: 9.5rem;
    height: 9rem;

    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: .13rem solid #4D4D4D;
    border-bottom: .13rem solid #4D4D4D;

    &-icon {
        width: 2.9rem;
        height: 3.8rem;
    }
}

/*
    ============================================================
    Main content
    ============================================================
*/
.first-screen__content {
    padding-left: 5rem;
}
.first-screen__title {
    font-weight: 600;
    font-size: 14.7rem;
    line-height: (176/147);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;

    margin-bottom: -.3em;
    margin-left: -.1em;

    .line-1 {
        letter-spacing: 0.03em;
//         font-weight: 600;
//         font-stretch: semi-condensed;
        font-variation-settings: 'wdth' 87.5, 'wght' 600;

        position: relative;
        z-index: 2;
    }
    .accent {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 700;
        font-size: 37.7rem;
        line-height: 1;
        letter-spacing: 0.065em;

        background: linear-gradient(286.27deg, #FFA000 3.29%, #DB7619 101.92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        margin-top: -.15em;
    }
    .line-3 {
        display: none;

        letter-spacing: 0.03em;
        font-variation-settings: 'wdth' 87.5, 'wght' 600;

        position: relative;
        z-index: 2;
        text-align: right;

        margin-top: -.5em;
        margin-bottom: 3rem;
    }
}
.first-screen__subtitle {
    display: inline-block;

    font-weight: 400;
    font-size: 3.1rem;
    line-height: 98.7%;
    letter-spacing: -.1rem;
    color: #FFFFFF;

    margin-bottom: 5.5rem;

    position: relative;
    &:after {
        $line-offset: 4rem + 9.5rem + 2rem; // ~4rem - left padding of first-screen__content; 9.5rem - .page-container left padding; 2rem - offset

        content: '';

        position: absolute;
        top: calc(100% + 1.2rem);
        left: -$line-offset;

        height: .25rem;
        width: calc(100% + #{$line-offset});
        background: linear-gradient(285.56deg, #EB9401 -3.41%, #DB2219 101.94%);
    }
}
.first-screen__button {
    background: linear-gradient(285.56deg, #EB9401 -3.41%, #DB2219 101.94%);
    box-shadow: 0 0 3.8rem rgba(255, 92, 0, 0.62);
    font-weight: 300;
}

.first-screen__decoration {
    max-width: none;
    width: 114.8rem;
    height: 124.4rem;

    position: absolute;
    top: -16.5rem;
    right: -15rem; //-24rem

    z-index: 1;
}

@media screen and (max-width: 768px) {
    .first-screen__container {
        background: none;

        padding-bottom: 6rem;
        padding-top: 34rem;
    }
    .first-screen__subtitle {
        &:after {
            display: none;
        }
    }
    .first-screen__decoration-line {
        display: none;
    }
    .first-screen__decoration {
        opacity: .18;
        z-index: -1;

        top: -30rem;
        right: -35rem;
    }

    .first-screen__content {
        padding-left: 0;
        margin-bottom: 10rem;
    }
    .first-screen__title {
        text-align: center;

        margin-bottom: 0;
        margin-left: -.1em;

        .line-1 {
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 700;
            font-size: 12rem;
            line-height: 1;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }
        .accent {
            font-size: 25.7rem;
            line-height: 1;
            letter-spacing: 0.02em;

            margin-top: -.15em;
        }
        .line-3 {
            text-align: center;

            margin-top: -.33em;
        }
    }
    .first-screen__subtitle {
        display: block;
        max-width: 55rem;

        font-size: 3.2rem;
        line-height: 98.7%;
        text-align: center;

        margin: 0 auto 33.5rem auto;
    }
    .first-screen__button {
        margin: 0 auto;
    }
    .first-screen__soc-links {
        position: static;
        transform: none;

        flex-direction: row;
        justify-content: center;

        margin-bottom: 14rem;
    }
    .first-screen__soc-link {
        margin-bottom: 0;

        margin-right: 4.8rem;
        &:last-child {
            margin-right: 0;
        }

        &-icon {
            width: 3.2rem;
            height: 3.2rem;
        }
    }
    .first-screen__arrow-down {
        position: static;
        margin: 0 auto;

        width: 5.7rem;
        height: 7.4rem;

        border-top: none;
        border-bottom: none;

        &-icon {
            width: 5.7rem;
            height: 7.4rem;
        }
    }
}
