.modal-lang {
    display: block;
}
.modal-lang__body {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;

    width: 40rem;
    height: 30rem;
    background: rgb(43, 43, 43);
    border-radius: 1.6rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
}
.modal-lang__option {
    font-weight: 600;
    font-size: 4.1rem;
    text-align: center;

    color: #FFFFFF;

    border: .1rem solid #FFFFFF;
    padding: 1rem;
}
