.modes {
}
.modes__container {
    text-align: center;

    padding-top: 15.5rem;
    padding-bottom: 2rem;
}
.modes__decoration-line {
    width: .545rem;
    height: 11rem;
    background: linear-gradient(293.49deg, #00BDBD 14.4%, #1944DB 146.66%), linear-gradient(292.52deg, #EB9401 5.53%, #DB2219 147.32%);

    position: absolute;
    top: 10.7rem;
    left: 9.5rem;
    transform: translateX(-100%);
}
.modes__button-scroll {
    position: absolute;
    right: 0;
    bottom: 0;
    .button-scroll__arrow-1 {
        background: linear-gradient(283.25deg, #FF0000 -55.08%, #FF8946 102.01%), #D9D9D9;
    }
    .button-scroll__arrow-2 {
        background: linear-gradient(293.49deg, #00BDBD 14.4%, #1944DB 146.66%), #D9D9D9;
    }
}
.modes__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url(../img/modes-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
}
.modes__decoration {
    position: absolute;
}
.modes__decoration {
    &-1 {
        max-width: none;

        width: 125.7rem;
        height: 170.2rem;

        left: -40rem;
        top: -17rem;

        z-index: -1;
    }
    &-2 {
        max-width: none;

        width: 137rem;
        height: 174.6rem;

        right: -76rem;
        top: -26rem;

        z-index: 0;
    }
}
.modes__title {
    font-family: 'Bebas Neue', cursive;;
    font-style: normal;
    font-weight: 700;
    font-size: 25.8rem;
    line-height: .9;
    letter-spacing: -0.015em;
    text-align: center;

    background: linear-gradient(281.47deg, #FF9A00 2.21%, #00B2FF 88.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    margin-bottom: 1rem;
}
.modes__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 37rem));
    justify-content: center;
    grid-gap: 5rem;

    margin-bottom: 4rem;
}
.modes-item {
    width: 37rem; // 36rem;
    height: 40rem;

    background: radial-gradient(54.42% 896.4% at 100% 59.08%, rgba(255, 153, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(45.58% 750.78% at 0% 59.08%, rgba(0, 224, 255, 0.06) 0%, rgba(0, 0, 0, 0) 100%), rgba(217, 217, 217, 0.06);
    backdrop-filter: blur(1.2rem);

    padding: 1.5rem 1.7rem;

    position: relative;
    &:after {
        content: '';

        width: .4rem;
        height: 24rem;

        position: absolute;
        left: calc(100% + 2.5rem - .2rem);
        top: 50%;
        transform: translateY(-50%);
    }
    &:last-child {
        &:after {
            display: none;
        }
    }

    &__inner {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        border: .1rem solid #FFFFFF;

        padding-bottom: .5rem;
    }

    &__icon-wrapper {
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        &-1 {
            width: 16.3rem;
            height: 16.3rem;
        }
        &-2 {
            width: 19.1rem;
            height: 28rem;
        }
        &-3 {
            width: 24.5rem;
            height: 24rem;
        }
    }
    &__text {
        font-variation-settings: 'wght' 600;
        font-size: 4.2rem;
        line-height: 134.7%;
        text-align: center;
        letter-spacing: -.1rem;
    }
}
.modes-item {
    &-1 {
        &:before {
            content: '';

            width: .52rem;
            height: 11rem;

            background: linear-gradient(293.49deg, #00BDBD 14.4%, #1944DB 146.66%);

            position: absolute;
            right: 100%;
            top: 0;
        }
        &:after {
            background: linear-gradient(284.9deg, #00BDBD 9.99%, #1944DB 101.79%), linear-gradient(284.25deg, #EB9401 3.82%, #DB2219 101.8%);
        }
        .modes-item {
            &__text {
                background: linear-gradient(286.27deg, #00FFFF 3.29%, #1944DB 101.92%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            &__inner {
                border-color: rgba(25, 138, 202, .5);
            }
        }
    }
    &-2 {
        &:after {
            background: linear-gradient(284.25deg, #EB9401 3.82%, #DB2219 101.8%);
        }

        .modes-item {
            &__inner {
                border-color: rgba(148, 103, 93, .5);
            }
        }
    }
    &-3 {
        &:before {
            content: '';

            width: .52rem;
            height: 11rem;

            background: linear-gradient(292.52deg, #EB9401 5.53%, #DB2219 147.32%);

            position: absolute;
            left: 100%;
            bottom: 0;
        }
        .modes-item {
            &__text {
                background: linear-gradient(283.25deg, #FF0000 -55.08%, #FF8946 102.01%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            &__inner {
                border-color: rgba(202, 131, 25, .5);
            }
        }
    }
}
.modes__subtitle {
    display: inline-block;

    font-weight: 400;
    font-size: 3.3rem;
    line-height: 134.7%;
    text-align: center;

    margin-bottom: 5.5rem;

    position: relative;
    &:after {
        content: '';

        height: .5rem;
        width: calc(100% + 30rem);

        background: linear-gradient(288.85deg, #FF0000 -5.49%, #FF9900 24.11%, #00BDBD 49.11%, #1944DB 74.55%), linear-gradient(292.52deg, #EB9401 5.53%, #DB2219 147.32%);

        position: absolute;
        top: calc(100% + 3.3rem);
        left: 0;
        z-index: -1;
    }
}
.modes__button {
    background: linear-gradient(286.27deg, #DB4819 3.29%, #002ABD 101.92%), linear-gradient(285.56deg, #EB9401 -3.41%, #DB2219 101.94%);
    margin: 0 auto;
}
.modes__arrow-down {
    display: none;

    width: 5.7rem;
    height: 7.4rem;
    margin: 0 auto;
    &-icon {
        width: 5.7rem;
        height: 7.4rem;
    }
}

@media screen and (max-width: 768px) {
    .modes {
    }
    .modes__container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .modes__decoration-line {
        display: none;
    }
    .modes__button-scroll {
        display: none;
    }
    .modes__background {
        display: none;
    }
    .modes__decoration {
        position: absolute;
    }
    .modes__decoration {
        &-1 {
            width: 125.7rem;
            height: 170.2rem;

            left: -55rem;
            top: -40rem;

            z-index: -1;
            opacity: 0.18;
        }
        &-2 {
            width: 137rem;
            height: 174.6rem;

            right: -90rem;
            top: -60rem;

            z-index: -1;
            opacity: 0.18;
        }
    }
    .modes__title {
        font-size: 15rem;
        line-height: 1;

        margin-bottom: 2rem;
    }
    .modes__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 20rem));
        justify-content: center;
        grid-gap: 2rem;

        margin-bottom: 2rem;
    }
    .modes-item {
        width: 20rem; // 36rem;
        height: 23rem;

        padding: 1rem;

        position: relative;
        &:after {
            content: '';

            width: .2rem;
            height: 13rem;

            position: absolute;
            left: calc(100% + 1rem - .2rem);
            top: 50%;
            transform: translateY(-50%);
        }

        &__inner {
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            border: .1rem solid #FFFFFF;

            padding-bottom: .5rem;
        }

        &__icon-wrapper {
            flex-grow: 1;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icon {
            &-1 {
                width: 9.3rem;
                height: 9.3rem;
            }
            &-2 {
                width: 10.9rem;
                height: 16rem;
            }
            &-3 {
                width: 14;
                height: 13.6rem;
            }
        }
        &__text {
            font-size: 2rem;
            letter-spacing: -.025rem;
        }
    }
    .modes-item {
        &-1 {
            &:before {
                width: .3rem;
                height: 6rem;
            }
            .modes-item {
            }
        }
        &-2 {
        }
        &-3 {
            &:before {
                width: .3rem;
                height: 6rem;
            }
            .modes-item {
            }
        }
    }
    .modes__subtitle {
        max-width: 60rem;
        margin: 0 auto;

        margin-bottom: 12rem;

        position: relative;
        &:after {
            display: none;
        }
    }
    .modes__button {
        margin: 0 auto 8.5rem;
    }
    .modes__arrow-down {
        display: block;
    }
}
