.requirements {

}
.requirements__container {
    padding-top: 16rem;
    padding-bottom: 7.5rem;
}

.requirements__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.requirements__background-1 {
    background-image: url(../img/requirements-background-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: -2;
}
.requirements__background-2 {
    background-image: url(../img/requirements-background-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: -1;
}
.requirements__decoration-line-1 {
    width: .55rem;
    height: 8.6rem;

    background: linear-gradient(285.56deg, #0197EB -3.41%, #8619DB 101.94%);

    position: absolute;
    top: 10.3rem;
    left: 9.5rem;
    transform: translateX(-100%);
}
.requirements__decoration-line-2 {
    width: .55rem;
    height: 26rem;

    background: linear-gradient(285.56deg, #0197EB -3.41%, #8619DB 101.94%);

    position: absolute;
    top: 6rem;
    right: 9.5rem;
    transform: translateX(100%);
}
.requirements__decoration-line-3 {
    width: .55rem;
    height: 8.5rem;

    background: linear-gradient(285.56deg, #0197EB -3.41%, #8619DB 101.94%);

    position: absolute;
    bottom: 25.5rem;
    right: 9.5rem;
    transform: translateX(100%);
}
.requirements__button-scroll {
    position: absolute;
    right: 0;
    bottom: 0;
    .button-scroll__arrow-1 {
        background: linear-gradient(297.29deg, #00B2BD -16.93%, #AD00FF 113.63%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(112, 0, 255, 0.62);
    }
    .button-scroll__arrow-2 {
        background: linear-gradient(120.33deg, #0013BD -14.99%, #AD00FF 98.24%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(112, 0, 255, 0.62);
    }
}

.requirements__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 22.5rem;
    line-height: .8;
    letter-spacing: -0.02em;
    text-align: center;

    background: radial-gradient(14.37% 67.92% at 98.35% 172.62%, #8F00FF 0%, rgba(246, 121, 12, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(13.9% 76.28% at 68.77% -21.92%, #00FFFF 0%, rgba(246, 12, 223, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(94.51deg, #00D1FF 32.52%, #A919DB 90.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    margin-bottom: 5rem;
}

.requirements__content {
    max-width: 155rem;
    margin: 0 auto;

    background: radial-gradient(32.58% 477.47% at 99.02% 100%, rgba(204, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 3rem .4rem rgba(0, 0, 0, 0.72);
    backdrop-filter: blur(1.4rem);

    padding: 4rem 2.4rem 1.3rem;
    margin-bottom: 2.4rem;

    position: relative;
    &:before {
        content: '';

        width: calc(100% - 4.4rem);
        height: calc(100% - 2rem - 4.6rem);

        position: absolute;
        left: 2.2rem;
        top: 2rem;

        z-index: -1;

        border: .2rem solid rgba(255, 255, 255, 0.16);
        filter: drop-shadow(0 0 2.2rem rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(1.4rem);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &:after {
        content: '';

        width: 10rem;
        height: .55rem;
        position: absolute;
        right: 0;
        bottom: 100%;

        background: linear-gradient(285.56deg, #0197EB -3.41%, #8619DB 101.94%);
    }
}
.requirements__subtitle {
    font-variation-settings: 'wght' 600;
    font-size: 4.1rem;
    line-height: (49/41);
    text-align: center;
    color: #FFFFFF;

    margin-bottom: 2.4rem;
}
.requirements__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    margin-bottom: 2.6rem;
}
.requirements-item {
    &__icon-wrapper {
        height: 14.5rem;

        margin-bottom: 1.2rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        &-1 {
            width: 10.4rem;
            height: 14.1rem;
        }
        &-2 {
            width: 11.8rem;
            height: 11.8rem;
        }
        &-3 {
            width: 16.7rem;
            height: 10.2rem;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 3.5rem;
        line-height: (42/35);
        text-align: center;
        color: #FFFFFF;
    }
}
.requirements__button {
    background: linear-gradient(286.71deg, #35005F 2.71%, #9D19DB 101.91%);
    box-shadow: 0 0 3rem rgba(112, 0, 255, 0.62);

    margin: 0 auto;
}
.requirements__note {
    max-width: 85rem;
    margin-left: auto;

    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(1.4rem);
    padding: 1.6rem 2rem 1.6rem 2.6rem;

    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 101.4%;
    color: #DEDEDE;

    display: flex;
    align-items: center;

    &-icon {
        flex: 0 0 auto;

        width: 5.2rem;
        height: 5.2rem;

        margin-right: 2rem;
    }

    position: relative;
    &:before {
        content: '';

        width: 83%;
        height: .55rem;
        position: absolute;
        left: 17%;
        bottom: 100%;

        background: linear-gradient(285.56deg, #0197EB -3.41%, #8619DB 101.94%);
    }
}

@media screen and (max-width: 768px) {
    .requirements {

    }
    .requirements__container {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }

    .requirements__background {
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
    }
    .requirements__background-1 {
//         background-image: url(../img/requirements-background-1.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//
//         z-index: -2;
    }
    .requirements__background-2 {
//         background-image: url(../img/requirements-background-2.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center;
//
//         z-index: -1;
    }
    .requirements__decoration-line-1 {
        display: none;
    }
    .requirements__decoration-line-2 {
        display: none;
    }
    .requirements__decoration-line-3 {
        display: none;
    }
    .requirements__button-scroll {
        display: none;
    }

    .requirements__title {
        font-size: 12rem;
        line-height: 83.5%;
        letter-spacing: 0.095em;
        text-align: center;

        margin-bottom: 2rem;
    }

    .requirements__content {
        max-width: 54.5rem;
        margin: 0 auto;

        background: radial-gradient(5275.64% 373.04% at 106.73% 100%, rgba(204, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(0, 0, 0, 0.67);

        padding: 6rem 1rem 12.5rem;
        margin-bottom: 0;

        &:before {
            width: calc(100% - 2rem);
            height: calc(100% - 4rem);

            left: 1rem;
            top: 2rem;

//             border: .2rem solid rgba(255, 255, 255, 0.16);
//             filter: drop-shadow(0 0 2.2rem rgba(0, 0, 0, 0.25));
//             backdrop-filter: blur(1.4rem);
        }
        &:after {
            display: none;
        }
    }
    .requirements__subtitle {
        margin-bottom: 4rem;
    }
    .requirements__items {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 8rem;

        margin-bottom: 0;
    }
    .requirements-item {
        &__icon-wrapper {
        }
        &__text {
            max-width: 40rem;
            margin: 0 auto;
        }
    }
    .requirements__button {
        position: absolute;
        left: 50%;
        bottom: 2rem;
        transform: translate(-50%, 50%);
        white-space: nowrap;
    }
    .requirements__note {
        display: none;
    }
}
