mixin button-scroll(text, anchor1, anchor2)
    .button-scroll&attributes(attributes)
        a(href= anchor1 ? anchor1 : '#').button-scroll__arrow.button-scroll__arrow-1.js-navigation-scroll
            svg.button-scroll__arrow-icon
                use(xlink:href="img/svg/arrow.svg#arrow")
        .button-scroll__text
            .button-scroll__text-line= text ? text : 'Scroll'
        if anchor2
            a(href= anchor2 ? anchor2 : '#').button-scroll__arrow.button-scroll__arrow-2.js-navigation-scroll
                svg.button-scroll__arrow-icon
                    use(xlink:href="img/svg/arrow.svg#arrow")
        else
            button.button-scroll__arrow.button-scroll__arrow-2
                svg.button-scroll__arrow-icon
                    use(xlink:href="img/svg/arrow.svg#arrow")
