.footer {

}
.footer__container {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
.footer__button-scroll-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    .button-scroll__arrow-1 {
        background: linear-gradient(120.33deg, #BD0000 -14.99%, #AD00FF 98.24%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(112, 0, 255, 0.62);
    }
    .button-scroll__text {
        height: 18rem;
    }
    .button-scroll__arrow-2 {
        background: linear-gradient(297.29deg, #3100BD -16.93%, #AD00FF 113.63%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(112, 0, 255, 0.62);
    }
}
.footer__button-scroll-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    .button-scroll__arrow-1 {
        background: linear-gradient(297.29deg, #3100BD -16.93%, #AD00FF 113.63%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(112, 0, 255, 0.62);
    }
    .button-scroll__text {
        height: 18rem;
        white-space: nowrap;
    }
    .button-scroll__arrow-2 {
        background: linear-gradient(120.33deg, #BD0000 -14.99%, #AD00FF 98.24%), #D9D9D9;
        box-shadow: 0 0 2.3rem rgba(112, 0, 255, 0.62);
    }
}
.footer__copyright {
    font-weight: 400;
    font-size: 2.3rem;
    line-height: (25/23);
    color: #A7A7A7;

    margin-left: 2.4rem;
    margin-right: 1.4rem;

    .faded {
        font-weight: 300;
        color: #505050;
    }
}
.footer__soc-links {
    flex: 0 0 auto;

    display: flex;
    align-items: center;

    margin-right: 6.5rem;
}
.footer__soc-link {

    margin-right: 4rem;
    &:last-child {
        margin-right: 0;
    }

    &-icon {
        color: #A04EFF;
        &-youtube {
            width: 3.4rem;
            height: 2.4rem;
        }
        &-vk {
            width: 3.7rem;
            height: 2.2rem;
        }
        &-instagram {
            width: 3.4rem;
            height: 3.4rem;
        }
        &-twitch {
            width: 3.6rem;
            height: 3.7rem;
        }
    }
}
.footer__adult {
    flex: 0 0 auto;

    width: 5.8rem;
    height: 5.8rem;

    background: #EBEBEB;
    border-radius: 2.1rem;

    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 100.7%;
    color: #7D5AB5;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 2.7rem;
}
.footer__logo {
    flex: 0 0 auto;
    width: 26rem;

    margin-right: 1.8rem;
}

@media screen and (max-width: 768px) {
    .footer {

    }
    .footer__container {
        padding: 1.4rem 1rem 1.4rem 1.2rem;
    }
    .footer__button-scroll {
        &-1,
        &-2 {
            display: none;
        }
    }
    .footer__soc-links {
        display: none;
    }
    .footer__adult {
        display: none;
    }

    .footer__copyright {
        font-size: 1.3rem;
        line-height: (14/13);

        margin-left: 0;
        margin-right: 2rem;

        .faded {
            font-weight: 300;
            color: #505050;
        }
    }
    .footer__logo {
        width: 17.5rem;
        margin-right: 0;
    }
}
