@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
    font-size: 10 / 1920 * 100 * 1vw;
//     font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Bahnschrift', sans-serif;
    //font-family: 'Bebas Neue', sans-serif;
    // background: #000;

    background: radial-gradient(36.42% 12.89% at -3.9% 52.33%, rgba(173, 0, 255, 0.3) 0%, rgba(0, 255, 10, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(48.62% 12.06% at 55.79% 100%, rgba(189, 0, 255, 0.29) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 14.38%), radial-gradient(52.83% 17.85% at 108.62% 48.72%, rgba(143, 0, 255, 0.29) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(44.06% 15.46% at 106.35% 50%, rgba(128, 0, 255, 0.17) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(31.27% 10.98% at 98.86% 21.47%, rgba(255, 61, 0, 0.52) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(58% 20.06% at -8% 22.07%, rgba(0, 148, 255, 0.52) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(27.39% 13.66% at -8.97% 63.27%, rgba(255, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(45.17% 11.35% at 90.57% 61.96%, rgba(255, 0, 0, 0.52) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(55.94% 14.06% at 103.59% 3.33%, rgba(255, 138, 0, 0.52) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.0437946) 19.88%, rgba(0, 178, 255, 0.0426823) 20.24%, rgba(0, 135, 193, 0.00170511) 39.13%, rgba(0, 0, 0, 0) 39.57%, rgba(0, 0, 0, 0) 100%), #090909;
    background-blend-mode: normal, normal, normal, lighten, normal, normal, normal, normal, normal, normal, normal, normal;

    color: #FFFFFF;
}

img {
    max-width: 100%;
}

button {
    padding: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    font-family: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #ссс;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}

.jquery-modal {
    z-index: 999;
}

.page-container {
    max-width: 192rem;
    padding: 0 9.5rem;
    margin: 0 auto;

    position: relative;

    &:before,
    &:after {
        content: '';

        position: absolute;
        top: 0;
        height: 100%;
        width: .13rem;
        background: #8F8F8F;
    }

    &:before {
        left: 9.5rem - (.13rem / 2);
    }
    &:after {
        right: 9.5rem - (.13rem / 2);
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10 / 768 * 100 * 1vw;
    }
    .page-container {
        padding: 0;
        &:before,
        &:after {
            display: none;
        }
    }
}
// @media screen and (max-width: 1920px) {
//     html {
//         font-size: 10px;
//     }
// }
// @media screen and (max-width: 1320px) {
//     .page-container {
//         max-width: 952px;
//     }
// }
// @media screen and (max-width: 992px) {
//     .page-container {
//         max-width: 728px;
//     }
// }
// @media screen and (max-width: 768px) {
//     .page-container {
//         width: 100%;
//     }
// }
// @media screen and (max-width: 576px) {
//     .page-container {
//         padding: 0 10px;
//     }
// }

