.header {
}
.header__container {
    border-bottom: .13rem solid #8F8F8F;
}

.header__logo {
    position: absolute;
    left: (9.5rem - 5.5rem) / 2; // 9.5rem - left pading; 5.5rem - logo width
    top: 50%;
    transform: translateY(-50%);
}

.header-menu {
    display: flex;
    align-items: center;
}
.header-menu__item {
    &-1 {
        .header-menu__link {
            padding-left: 6.5rem;
            padding-right: 6.5rem;
        }
    }
    &-2 {
        .header-menu__link {
            padding-left: 6.5rem;
            padding-right: 6.5rem;
        }
    }
    &-3 {
        .header-menu__link {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    &-4 {
        .header-menu__link {
            padding-left: 4.5rem;
            padding-right: 4.5rem;
        }
    }
    &-5 {
        .header-menu__link {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}
.header-menu__link {
    display: block;
    padding: 3.2rem 5rem;
    text-align: center;

    font-variation-settings: 'wght' 300;
    font-size: 2.6rem;
    line-height: 98.7%;
    letter-spacing: -.1rem;
    color: #FFFFFF;

    position: relative;
    z-index: 3;

    &.accent {
        background: linear-gradient(285.56deg, #EB9401 -3.41%, #DB2219 101.94%);
    }
}
.header__burger {
    display: none;
    width: 5.1rem;
    height: 3.5rem;
}
.header__lang-switcher {
    width: 6rem;

    position: absolute;
    right: (9.5rem - 6rem) / 2;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .header__container {
        display: flex;
        align-items: center;

        border-bottom: none;
        padding: 5rem 4rem;
    }
    .header__logo {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-menu {
        display: none;
    }
    .header__burger {
        display: block;

        // margin-left: auto;
        margin-left: 2rem;
    }
    .header__lang-switcher {
        margin-left: auto;

        position: relative;
        right: 0;
        top: 0;
        transform: none;
        z-index: 10;

        width: 6rem;
    }
}
