[lang="kz"] {
    .first-screen__title {
        max-width: 95rem;
        .line-3 {
            display: block;
        }
    }
    .call-to-action__title {
        font-size: 42rem;
        @media screen and (max-width: 768px) {
            font-size: 18rem;
        }
    }
}
