.h1-title {
    font-family: 'Bahnschrift', sans-serif;

    font-weight: 700;
    font-size: 6rem;
    line-height: 101.4%;
    letter-spacing: 1.3rem;
    color: #FFFFFF;
    text-transform: uppercase;

    &__accent {
        font-size: 14.2rem;
        line-height: 101.4%;
        letter-spacing: 3rem;
        color: #754FE0;
    }
}
.h2-title {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 700;
    font-size: 4.1rem;
    line-height: 97.7%;
    letter-spacing: 0.05rem;
    color: #FFFFFF;
}
.text {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 105.2%;
    color: #B5B5B5;
}

@media screen and (max-width: 576px) {
    .h1-title {
        font-size: 2.4rem;
    }
    .h2-title {
        font-size: 2.4rem;
        text-align: center;
        br {
            display: none;
        }
    }
}
