style.
    /*Файл для подключения нестандартных шрифтов*/
    @font-face {
        font-family: 'Gotham Pro';
        src: url('fonts/GothamPro-Black.eot');
        src: local('Gotham Pro Black'), local('fonts/GothamPro-Black'),
        url('fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Black.woff') format('woff'),
        url('fonts/GothamPro-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gotham Pro';
        src: url('fonts/GothamPro-Bold.eot');
        src: local('Gotham Pro Bold'), local('fonts/GothamPro-Bold'),
        url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Bold.woff') format('woff'),
        url('fonts/GothamPro-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gotham Pro';
        src: url('fonts/GothamPro.eot');
        src: local('Gotham Pro'), local('fonts/GothamPro'),
        url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro.woff') format('woff'),
        url('fonts/GothamPro.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }


    @font-face {
        font-family: 'Gotham Pro';
        src: url('fonts/GothamPro-Medium.eot');
        src: local('Gotham Pro Medium'), local('fonts/GothamPro-Medium'),
        url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Medium.woff') format('woff'),
        url('fonts/GothamPro-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gotham Pro';
        src: url('fonts/GothamPro-Light.eot');
        src: local('Gotham Pro Light'), local('fonts/GothamPro-Light'),
        url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Light.woff') format('woff'),
        url('fonts/GothamPro-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        /*local('Bahnschrift')*/
        font-family: 'Bahnschrift';
        src: url('fonts/Bahnschrift.TTF') format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: 'Bebas Neue';
        src: url('fonts/Bebas_Neue_Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
    }

