.footer#footer
    .page-container.footer__container

        +button-scroll('', '#header').footer__button-scroll-1
        +button-scroll('Scroll up', '#header').footer__button-scroll-2

        .footer__copyright
            p(data-i18n-key="footer_copyright") ™ & ⓒ 2023 CyberT все права защищены. «CYBERT» являются торговыми знаками или зарегестрированными торговыми знаками, принадлежащими CyberT.
            p.faded(data-i18n-key="footer_copyright_faded") Участие на соревновательной платформе CyberT разрешено лицам достигшим 18 лет
        .footer__soc-links
            -
                var items = [
                    {
                        href: '#',
                        icon: 'youtube'
                    },
                    {
                        href: '#',
                        icon: 'vk'
                    },
                    {
                        href: '#',
                        icon: 'instagram'
                    },
                    {
                        href: '#',
                        icon: 'twitch'
                    }
                ]
            each item in items
                a(href= item.href).footer__soc-link
                    svg(
                        class="footer__soc-link-icon-" + item.icon
                    ).footer__soc-link-icon
                        use(xlink:href="img/svg/" + item.icon + ".svg#" + item.icon)
        .footer__adult(data-i18n-key="age") 18+
        img(src="img/svg/logo-2.svg" alt="Куберту").footer__logo
