.header#header
    .page-container.header__container

        svg.logo.header__logo
            use(xlink:href="img/svg/logo.svg#logo")

        ul.header-menu
            -
                var items = [
                    { link: '#header', text: 'Главная' },
                    { link: '#modes', text: 'Режимы' },
                    { link: '#advantages', text: 'Преимущества' },
                    { link: '#requirements', text: 'Требования' },
                    { link: '#faq', text: 'FAQ' }
                ]
            each item, index in items
                li.header-menu__item(
                    class="header-menu__item-" + (index+1)
                )
                    a(
                        href= item.link
                        class= index === 0 ? "accent" : ""
                    ).header-menu__link.js-navigation-scroll(data-i18n-key="menu." + (index+1))= item.text


        //.lang-switcher.header__lang-switcher
        //    select(data-i18n-switcher class="locale-switcher").lang-switcher__select
        //        option(value="ru") RU
        //        option(value="kk") KK


        //svg.header__burger
        //    use(xlink:href="img/svg/burger.svg#burger")
