doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            block title
                title Title your site
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="shortcut icon" href="img/favicon.png" type="image/png")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap")
            link(rel="stylesheet" href="css/style.min.css")

            link(rel='apple-touch-icon' sizes='180x180' href='img/apple-touch-icon.png')
            link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
            link(rel='icon' type='image/png' sizes='16x16' href='img/favicon-16x16.png')
            link(rel='manifest' href='docs/site.webmanifest')
            link(rel='mask-icon' href='img/safari-pinned-tab.svg' color='#373737')
            meta(name='msapplication-TileColor' content='#222222')
            meta(name='theme-color' content='#f3f3f3')


            include fonts
    body
        // include variables

        block header
            include header
        block content
        block footer
            include footer
        block scripts
            script(src='js/main.min.js')

