.beta-test

    img(src="/img/beta-test-decoration.png" alt="").beta-test__decoration

    .beta-test__content

        h2.h2-title.beta-test__title
            span.highlighted Честно. Быстро. Выгодно.
            br
            | Именно так работает CyberT.
        h3.h3-title.beta-test__subtitle Почему мы набираем игроков на бета-тест по Доте?
        p.text.beta-test__text
            | Мы — молодая амбициозная команда, которая 2 года разрабатывала эту платформу. Сейчас нам нужно протестировать CyberT, чтобы закрыть все дыры и пробелы. В этом нам поможете вы. Протестируйте наш сервис и станьте опорой будущего комьюнити.
        button.button.beta-test__button.js-modal-open
            .beta-test__button-text Заполнить анкету
            .beta-test__button-subtext Осталось 1300 мест из 4500

    .beta-test-steps.beta-test__steps
        -
            var items = [
                "Регистрируешься и подключаешь Steam",
                "Ищешь нужное лобби с приемлемой суммой или создаешь сам",
                "Выбираешь свою команд",
                "Выигрываешь и получаешь кэш противника",
                "Выигрываешь и получаешь кэш противника"
            ]
        each item, index in items
            .beta-test-step
                .beta-test-step__banner
                    = (index+1)
                p.beta-test-step__text= item
