.call-to-action
    h3.h3-title.h3-title_centered.call-to-action__title
        | Не упусти возможность бесплатно протестировать
        br
        | платформу и стать
        = " "
        span.highlighted опорой нашего комьюнити.
    p.text.text_centered.call-to-action__text
        | Запишись на закрытый бета-тест прямо сейчас и получи бонус
        br
        span.bold 500 ₽ на игровой счет.
    button.button.call-to-action__button.js-modal-open
        .call-to-action__button-text Заполнить анкету
        .call-to-action__button-subtext Осталось 1300 мест из 4500
