.counter


    .counter__content
        img(src="img/clock.png" alt="").counter__decoration-1
        img(src="img/clock.png" alt="").counter__decoration-2

        h2.h2-title.h2-title_centered.counter__title
            | Обратный
            = " "
            span.highlighted отсчёт
        .counter__items
            -
                var items = [
                    {
                        budget: '997500 Р',
                        places_of: '2000',
                        places_engaged: '',
                        rate: '2000-3000 MMR'
                    },
                    {
                        budget: '',
                        places_of: '1500',
                        places_engaged: '',
                        rate: '3000-4000 MMR'
                    },
                    {
                        budget: '',
                        places_of: '1000',
                        places_engaged: '',
                        rate: '4000-5000 MMR'
                    }
                ]
            each item, index in items
                .counter-item
                    .counter-item__places Мест осталось
                    .counter-item__number
                        span= item.places_of
                        span /
                        span(
                            id="js-engaged-" + (index + 1)
                        )= item.places_engaged
                    .counter-item__bottom
                        .highlighted= item.rate
                        div
                            | Остаток
                            = " "
                            span(
                                id="js-budget-" + (index + 1)
                            )=item.budget + ' ₽'
    button.button.counter__button.js-modal-open Заполнить анкету
