.faq
    h2.h2-title.h2-title_centered.faq__title Часто задаваемые вопросы про бета-тест

    .accordion.faq__accordion
        -
            var items = [
                {
                    title: 'Как пройдет отбор на бета-тест? Как я узнаю, что меня выбрали?',
                    text: 'Организационной организации заданий структура форм рамки практика кадров деятельности идейные и подготовки равным и и место прогрессивного количественный показывает, собой и организации, особенности реализация активизации. Существенных значение высшего задача идейные сфера постоянный позволяет по роль оценить играет активизации. И подготовки задач'
                },
                {
                    title: 'Что делать, если в игре я встречу недобросовестного игрока?',
                    text: 'Организационной организации заданий структура форм рамки практика кадров деятельности идейные и подготовки равным и и место прогрессивного количественный показывает, собой и организации, особенности реализация активизации. Существенных значение высшего задача идейные сфера постоянный позволяет по роль оценить играет активизации. И подготовки задач'
                },
                {
                    title: 'Что потребуется для запуска игры?',
                    text: 'Организационной организации заданий структура форм рамки практика кадров деятельности идейные и подготовки равным и и место прогрессивного количественный показывает, собой и организации, особенности реализация активизации. Существенных значение высшего задача идейные сфера постоянный позволяет по роль оценить играет активизации. И подготовки задач'
                },
                {
                    title: 'Сколько продлится бета-тест?',
                    text: 'Организационной организации заданий структура форм рамки практика кадров деятельности идейные и подготовки равным и и место прогрессивного количественный показывает, собой и организации, особенности реализация активизации. Существенных значение высшего задача идейные сфера постоянный позволяет по роль оценить играет активизации. И подготовки задач'
                },
                {
                    title: 'Что будет входить в мои обязанности?',
                    text: 'Организационной организации заданий структура форм рамки практика кадров деятельности идейные и подготовки равным и и место прогрессивного количественный показывает, собой и организации, особенности реализация активизации. Существенных значение высшего задача идейные сфера постоянный позволяет по роль оценить играет активизации. И подготовки задач'
                },
                {
                    title: 'Что будет после бета-теста?',
                    text: 'Организационной организации заданий структура форм рамки практика кадров деятельности идейные и подготовки равным и и место прогрессивного количественный показывает, собой и организации, особенности реализация активизации. Существенных значение высшего задача идейные сфера постоянный позволяет по роль оценить играет активизации. И подготовки задач'
                },
                {
                    title: 'Как мне вывести бонусные 500 ₽?',
                    text: 'Организационной организации заданий структура форм рамки практика кадров деятельности идейные и подготовки равным и и место прогрессивного количественный показывает, собой и организации, особенности реализация активизации. Существенных значение высшего задача идейные сфера постоянный позволяет по роль оценить играет активизации. И подготовки задач'
                }
            ]
        each item, index in items
            if index == 0
                .accordion-item.active
                    .accordion-item__header.js-accordion
                        = item.title
                        svg.accordion-item__icon
                            use(xlink:href="/img/plus.svg#plus")
                    p.text.accordion-item__panel!= item.text
            else
                .accordion-item
                    .accordion-item__header.js-accordion
                        = item.title
                        svg.accordion-item__icon
                            use(xlink:href="/img/plus.svg#plus")
                    p.text.accordion-item__panel!= item.text
