.first-screen-wrapper

    img(src="/img/first-screen-background.png" alt="").first-screen-wrapper__background
    .first-screen-wrapper__background-overlay
    .first-screen-wrapper__background-overlay-mobile

    .page-container

        header.header.first-screen-wrapper__header
            .header__logo
                svg.logo
                    use(xlink:href="/img/logo.svg#logo")
            //.lang-switcher Something?
        .first-screen
            h1.h1-title.first-screen__title
                span.highlighted Увлекаетесь Дотой?
                = " "
                | Вы всего в одном
                br
                | шаге от закрытого бета-теста новой
                br
                | соревновательной платформы.
                = " "
                span.highlighted Впереди
                br
                span.highlighted 15 дней, которые изменят вашу жизнь!
            p.text.first-screen__subtitle
                | У вас есть уникальная возможность протестировать
                br
                | соревновательную платформу CyberT
                = " "
                span.bold и получить 500 ₽.
                br
                | Начислим их на ваш игровой счет за участие в бета-тесте.
            .first-screen__bottom
                button.button.first-screen__button.js-modal-open Заполнить анкету
                .first-screen__counter
                    = "Осталось "
                    span.counter-off 1300
                    = " "
                    br
                    = "мест из "
                    span.counter-from 4500

