.gallery
    h2.h2-title.h2-title_centered.gallery__title
        | Скрины с нашего личного кабинета в сервисе

    // owl carousel
    .gallery-carousel
        .owl-carousel.js-gallery-carousel
            -
                var items = [
                    "gallery-1.png",
                    "gallery-1.png",
                    "gallery-1.png",
                    "gallery-1.png",
                    "gallery-1.png"
                ]
            each item in items
                .gallery-carousel-item
                    img(src="/img/" + item, alt="").gallery-carousel-item__image
        .gallery-carousel__nav
            .gallery-carousel__nav-button.gallery-carousel__nav-prev
                svg.gallery-carousel__nav-button-icon
                    use(xlink:href="/img/arrow.svg#arrow")
            .gallery-carousel__nav-button.gallery-carousel__nav-next
                svg.gallery-carousel__nav-button-icon
                    use(xlink:href="/img/arrow.svg#arrow")
