.modal.modal-form#modal-form

    script(data-b24-form="inline/14/36v7wt" data-skip-moving="true").
        (function(w,d,u){
            var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b21865510/crm/form/loader_14.js');

    //.modal-form__body
        h4.modal-form__title АНКЕТА НА БЕТА-ТЕСТ

        form.modal-form__form

            .modal-form__fields
                input(type="text" name="name" placeholder="Введите ФИО").modal-form__input
                input(type="text" name="city" placeholder="Введите ваш город").modal-form__input
                input(type="text" name="hours" placeholder="Сколько часов в Dota2?").modal-form__input
                input(type="text" name="mmr" placeholder="Количество MMR").modal-form__input
                input(type="text" name="age" placeholder="Возраст").modal-form__input
                input(type="text" name="telegram" placeholder="Username telegram").modal-form__input

            .modal-form__note Нам нужен скрин с вашего аккаунта Dota2. Для того чтобы определить ваш ранг на сервисе

            .screenshot.modal-form__screenshot
                .screenshot__title Перетащите изображение сюда
                .screenshot__subtitle Или нажмите на кнопку ниже
                label.button.screenshot__input Выбрать файл
                    input(type="file" name="screenshot")

            label.checkbox.modal-form__checkbox
                input(type="checkbox")
                .checkbox__box
                .checkbox__text
                    | Я соглашаюсь с Cybert's
                    = " "
                    a(href="#") Cookie Policy & Privacy Policy & Terms and conditions

            button(type="submit").button.modal-form__button РЕГИСТРАЦИЯ НА БЕТА-ТЕСТ
