.steps-and-requirements

    img(src="/img/steps-and-requirements-decoration.png" alt="").steps-and-requirements__decoration

    .steps-and-requirements__content
        section.steps
            h2.h2-title.h2-title_centered.steps__title
                | Да кто такой этот ваш CyberT?
            p.text.text_centered.steps__subtitle
                | В CyberT ты можешь получать реальный кэш за победы в любимых играх.
                br
                span.bold Просто выбираешь игру → соревнуешься с другими командами → забираешь выигрыш.
                br
                | Больше никто не скажет, что ты бездельник.
            ul.steps-list.steps__list
                -
                    var items = [
                        {
                            img: 'step-1.png',
                            text: 'Регистрируешься в анкете на участие в бета-тесте'
                        },
                        {
                            img: 'step-2.png',
                            text: 'Получаешь бонус в 500 ₽'
                        },
                        {
                            img: 'step-3.png',
                            text: 'Заряжаешь любую сумму и соревнуешься. Победитель забирает весь кэш и репутацию'
                        },
                    ]
                each item, index in items
                    li.steps-list-item
                        .steps-list-item__banner
                            img(
                                src="/img/" + item.img,
                                alt=""
                                class="steps-list-item__banner-image-" + (index+1)
                            ).steps-list-item__banner-image
                        p.steps-list-item__text
                            span.highlighted= 'Шаг ' + (index+1) + '.'
                            = " "
                            = item.text

        section.requirements
            h2.h2-title.h2-title_centered.requirements__title
                | Что нужно для участия в закрытом
                br
                span.highlighted бета-тесте
                = " "
                | по Доте?
            ul.requirements-list.requirements__list
                li.requirements-list-item
                    .requirements-list-item__banner
                        img(src="/img/requirement-1.png" alt="").requirements-list-item__banner-image-1
                    p.requirements-list-item__text Возраст больше 21 года

                li.requirements-list-item
                    .requirements-list-item__banner
                        img(src="/img/requirement-2.png" alt="").requirements-list-item__banner-image-2
                    p.requirements-list-item__text Steam-аккаунт с рейтингом MMR 2000+

                li.requirements-list-item
                    .requirements-list-item__banner
                        button(disabled).button.requirements-list-item__banner-image-3 Заполнить анкету
                    p.requirements-list-item__text Отправить заявку до 30 июня


