.why-play
    h2.h2-title.h2-title_centered.why-play__title
        | Кому и для чего нужен
        = " "
        span.highlighted CyberT?

    ul.why-play__list

        -
            var items = [
                {
                    img: 'why-play-1.png',
                    title: 'Тем, кто играет ради удовольствия',
                    text: 'Соревнуйтесь с другими командами не просто так, а ради приза. Добавьте в ваши игры азарта и адреналина, чтобы получить еще больше удовольствия.'
                },
                {
                    img: 'why-play-2.png',
                    title: 'Тем, кому важен рейтинг и качество игры',
                    text: 'Вы не встретите руинеров, ливеров, бустеров и смурфов на нашей платформе. У вас будет возможность показать свой уровень скилла без тильта и обеспечить себе стабильный поток кэша.'
                },
                {
                    img: 'why-play-3.png',
                    title: 'Тем, кто часто захаживает к букмекерам',
                    text: 'Наверняка был момент, когда вы ждали выигрыша команды, но не смогли повлиять на исход матча. Больше такого не будет: заряжай кэш и отправляйся на поле.'
                },
                {
                    img: 'why-play-4.png',
                    title: 'Тем, кто мечтает стать киберспортсменом',
                    text: 'Хотите стать игроком про-сцены и зарабатывать играми на жизнь? Мы поможем вам в этом. Бейтесь в каждой катке и докажите всем, что вы лучший.'
                }
            ]

        each item, index in items

            li.why-play-item
                .why-play-item__banner
                     img(
                         src="/img/" + item.img,
                         alt=""
                         class= "why-play-item__banner-image-" + (index+1)
                     ).why-play-item__banner-image
                h4.why-play-item__title= item.title
                p.text.text_centered.why-play-item__text= item.text
