.advantages#advantages
    .page-container.advantages__container

        .advantages__background

        .advantages__decoration-line-1
        .advantages__decoration-line-2
        .advantages__decoration-line-3

        +button-scroll('', '#advantages', '#requirements').advantages__button-scroll

        .advantages__content
            h2.advantages__title(data-i18n-key="advantages_title") Преимущества
            ul.advantages__items
                -
                    var items = [
                        {
                            icon: 'advantage-1.webp',
                            title: 'Контроль игры',
                            text: 'Баним читеров, бустеров и аккаунты руинеров для прозрачной и комфортной игры.'
                        },
                        {
                            icon: 'advantage-2.webp',
                            title: 'Система бонусов',
                            text: 'Мы поддерживаем активных пользователей и готовы поощрять их  бонусами и подарками.'
                        },
                        {
                            icon: 'advantage-3.webp',
                            title: 'Рейтинговая система',
                            text: 'У нас действует система подбора игроков по уровню скилла, поэтому все игроки будут иметь равные шансы на победу.'
                        },
                        {
                            icon: 'advantage-4.webp',
                            title: 'Надежные выплаты',
                            text: 'Вывод средств происходит на: VISA | MasterCard | МИР'
                        }
                    ]
                each item, index in items
                    li.advantages-item(
                        class= "advantages-item-" + (index+1)
                    )
                        .advantages-item__inner

                            img(src="img/" + item.icon, alt="").advantages-item__icon

                            h4.advantages-item__title(data-i18n-key="advantages_items." + (index+1) + '.title')= item.title
                            p.advantages-item__text(data-i18n-key="advantages_items." + (index+1) + '.text')= item.text
            button.button.advantages__button.js-modal-open(data-i18n-key="button_text") Подать заявку

        img(src="img/advantages-decoration-1.webp" alt="").advantages__decoration.advantages__decoration-1
        img(src="img/advantages-decoration-2.webp" alt="").advantages__decoration.advantages__decoration-2
