.call-to-action#call-to-action
    .page-container.call-to-action__container

        .call-to-action__decoration-line-1
        .call-to-action__decoration-line-2

        .call-to-action__background

        +button-scroll('', '#call-to-action', '#advantages').call-to-action__button-scroll

        h2.call-to-action__title(data-i18n-key="cta_title") Всё просто
        .call-to-action__content

            img(src="img/call-to-action-decoration.webp" alt="").call-to-action__decoration

            ul.call-to-action__taglines
                li.call-to-action__taglines-part(data-i18n-key="cta_tagline.1") Играй
                li.call-to-action__taglines-part(data-i18n-key="cta_tagline.2") Побеждай
                li.call-to-action__taglines-part(data-i18n-key="cta_tagline.3") Выводи
            p.call-to-action__subtitle(data-i18n-key="cta_subtitle")
                | Ты полностью контролируешь процесс игры: победа зависит только от
                br
                | твоих умений и настроя.
            button.button.call-to-action__button.js-modal-open(data-i18n-key="button_text") Подать заявку
