.counter#counter
    .page-container.counter__container

        +button-scroll('', '#counter', '#call-to-action').counter__button-scroll

        .counter__decoration-line

        .counter__background

        h2.counter__title
            span(data-i18n-key="counter_title_part") Обратный
            br
            span.accent(data-i18n-key="counter_title_accent") отсчёт

        img(src="img/counter-decoration.png" alt="").counter__decoration

        .counter__content

            .counter__promo(data-i18n-key="counter_promo") Бета тестеры получат 200 рублей на игровой счет

            ul.counter__items
                -
                    var items = [
                        {
                            budget: '',
                            places_of: '650',
                            places_engaged: '',
                            rate: '0-1000 MMR'
                        },
                        {
                            budget: '',
                            places_of: '750',
                            places_engaged: '',
                            rate: '1000-2000 MMR'
                        },
                        {
                            budget: '',
                            places_of: '800',
                            places_engaged: '',
                            rate: '2000-3000 MMR'
                        },
                        {
                            budget: '',
                            places_of: '400',
                            places_engaged: '',
                            rate: '3000-4000 MMR'
                        },
                        {
                            budget: '',
                            places_of: '200',
                            places_engaged: '',
                            rate: '4000-5000 MMR'
                        },
                        {
                            budget: '',
                            places_of: '100',
                            places_engaged: '',
                            rate: '5000+ MMR'
                        }
                    ]
                each item, index in items
                    li.counter-item
                        //.counter-item__top
                        //    .counter-item__title.counter-item__title-1
                        //        span(data-i18n-key="counter_rate") Рейтинг
                        //        .accent= item.rate
                        //    .counter-item__title.counter-item__title-2
                        //        div(data-i18n-key="counter_balance") Остаток
                        //        span.accent(
                        //            id="js-budget-" + (index + 1)
                        //        )= item.budget
                        //        span.accent(data-i18n-key="currency") ₽
                        .counter-item__center
                            p.counter-item__caption.counter-item__caption-1(data-i18n-key="counter_places") Кол.во мест
                            br
                            span.of= item.places_of
                            span.engaged /
                            span.engaged(
                                id="js-engaged-" + (index+1)
                            )= item.places_engaged
                            br
                            p.counter-item__caption.counter-item__caption-2.counter-item__caption_align-right(data-i18n-key="counter_engaged") Уже занято
                        .counter-item__bottom= item.rate

            .counter__bottom
                p.counter__text(data-i18n-key="counter_text") Успей получить бонус на свой аккаунт. Количество мест ограничено!
                button.button.counter__button.js-modal-open(data-i18n-key="button_text") Подать заявку
