.faq#faq
    .page-container.faq__container

        .faq__background

        .faq__decoration-line-1
        .faq__decoration-line-2

        h2.faq__title
            span(data-i18n-key="faq_title_part") Часто задаваемые
            br
            span.accent(data-i18n-key="faq_title_accent") Вопросы

        .faq__content

            .accordion.faq__accordion
                -
                    var items = [
                        {
                            title: 'Как пройдет отбор на бета-тест? Как я узнаю, что меня выбрали?',
                            text: 'Вы получите уведомление в Телеграме от нашего бота.'
                        },
                        {
                            title: 'Что делать, если в игре я встречу недобросовестного игрока?',
                            text: 'Если встретите подозрительного игрока, пожалуйтесь на него на нашем сайте в процессе матча или сразу после его завершения. Если окажется, что он мошенничал и использовал читы, деньги за игру вернутся на ваш игровой счет.'
                        },
                        {
                            title: 'Что потребуется для запуска игры?',
                            text: 'Потребуется ПК с рекомендованными системными требованиями, хороший интернет и документ, удостоверяющий вашу личность для верификации аккаунта.'
                        },
                        {
                            title: 'Сколько продлится бета-тест? ',
                            text: 'Бета-тестирование платформы начнется сразу после набора нужного количества игроков и продлится 2 месяца. Точная дата окончания может измениться.'
                        },
                        {
                            title: 'Что будет входить в мои обязанности?',
                            text: 'Вам нужно будет играть, соревноваться, выводить средства на карту, находить лаги в системе и сообщать о них нам.'
                        },
                        {
                            title: 'Что будет после бета-теста?',
                            text: 'После бета-тестирования состоится открытый запуск соревновательной платформы CyberT для всех желающих.'
                        },
                        {
                            title: 'Как мне вывести бонусные 200 ₽?',
                            text: 'Чтобы вывести бонусные 200 ₽, нужно их удвоить: для этого соревнуйтесь с другими пользователями платформы и выигрывайте матчи.'
                        }
                    ]
                each item, index in items
                    if index == 0
                        .accordion-item.active
                            .accordion-item__header.js-accordion(data-i18n-key="faq_items." + (index+1) + ".title")= item.title
                            p.accordion-item__panel(data-i18n-key="faq_items." + (index+1) + ".text")= item.text
                    else
                        .accordion-item
                            .accordion-item__header.js-accordion(data-i18n-key="faq_items." + (index+1) + ".title")= item.title
                            p.accordion-item__panel(data-i18n-key="faq_items." + (index+1) + ".text")= item.text

            form.faq__form
                input(type="text" placeholder="Что еще мы можем улучшить?" data-i18n-key-placeholder="faq_question_placeholder").faq__form-input
                button.button.faq__form-button(data-i18n-key="faq_question_send") Отправить

            button.button.faq__button.js-modal-open(data-i18n-key="button_text") Подать заявку
