.first-screen
    // background-image
    .page-container.first-screen__container

        .first-screen__decoration-line

        .first-screen__content
            h1.first-screen__title
                span.line-1(data-i18n-key="title_part_1") Нужно больше
                br
                div.accent(data-i18n-key="title_accent") золота
                .line-3(data-i18n-key="title_part_2")
            p.first-screen__subtitle(data-i18n-key="subtitle") 200 рублей всем участникам закрытого бета-теста по Dota 2
            button.button.first-screen__button.js-modal-open(data-i18n-key="button_text") Подать заявку

        .first-screen__soc-links
            -
                var items = [
                    {
                        href: 'https://vk.com/cybert.online',
                        icon: 'soc-vk'
                    },
                    {
                        href: 'https://www.tiktok.com/@cybert.games',
                        icon: 'soc-tiktok'
                    },
                    {
                        href: 'https://www.instagram.com/cybertgames/',
                        icon: 'soc-instagram'
                    },
                    {
                        href: 'https://www.twitch.tv/cybertonline',
                        icon: 'soc-twitch'
                    },
                    {
                        href: 'https://discord.gg/6VSkWvRJ',
                        icon: 'soc-discord'
                    },
                    {
                        href: 'https://t.me/Cybertgames',
                        icon: 'soc-telegram'
                    }
                ]
            each item in items
                a(href= item.href).first-screen__soc-link
                    svg(
                        class="first-screen__soc-link-icon-" + item.icon
                    ).first-screen__soc-link-icon
                        use(xlink:href="img/svg/" + item.icon + ".svg#" + item.icon)

        a(href="#modes").first-screen__arrow-down.js-navigation-scroll
            svg.first-screen__arrow-down-icon
                use(xlink:href="img/svg/arrows.svg#arrows")

        img(
            src="img/first-screen-decoration.webp" alt=""
        ).first-screen__decoration
