.modes#modes
    .page-container.modes__container

        .modes__decoration-line
        +button-scroll('', '#modes', '#counter').modes__button-scroll

        .modes__background

        img(src="img/modes-decoration-1.webp" alt="").modes__decoration.modes__decoration-1
        img(src="img/modes-decoration-2.webp" alt="").modes__decoration.modes__decoration-2

        h2.modes__title(data-i18n-key="modes_title") Режимы игры

        ul.modes__list
            -
                var items = [
                    {
                        icon: 'svg/mode-1.svg#mode-1',
                        text: 'SOLO MID 1V1'
                    },
                    {
                        icon: 'svg/mode-2.svg#mode-2',
                        text: 'CAPTAIN MODE'
                    },
                    {
                        icon: 'svg/mode-3.svg#mode-3',
                        text: 'ALL PICK 5V5'
                    }
                ]
            each item, index in items
                li.modes-item(
                    class="modes-item-" + (index+1)
                )
                    .modes-item__inner
                        .modes-item__icon-wrapper
                            svg.modes-item__icon(
                                class="modes-item__icon-" + (index+1)
                            )
                                use(xlink:href="img/" + item.icon)
                        .modes-item__text= item.text

        p.modes__subtitle(data-i18n-key="modes_subtitle") Играй и фарми реальный кэш на собственном скилле.
        button.button.modes__button.js-modal-open(data-i18n-key="button_text") Подать заявку

        button.modes__arrow-down
            svg.modes__arrow-down-icon
                use(xlink:href="img/svg/arrows.svg#arrows")
