.requirements#requirements
    .page-container.requirements__container

        .requirements__background.requirements__background-1
        .requirements__background.requirements__background-2

        .requirements__decoration-line-1
        .requirements__decoration-line-2
        .requirements__decoration-line-3

        +button-scroll('', '#requirements', '#faq').requirements__button-scroll

        h2.requirements__title(data-i18n-key="requirements_title")
            span Что нужно
            br
            span для участия?

        .requirements__content
            h4.requirements__subtitle(data-i18n-key="requirements_subtitle") Критерии отбора игроков

            ul.requirements__items
                -
                    var items = [
                        {
                            icon: 'svg/requirement-1.svg',
                            text: 'Возраст игрока 18+'
                        },
                        {
                            icon: 'svg/requirement-2.svg',
                            text: 'Откалиброванный стим аккаунт'
                        },
                        {
                            icon: 'svg/requirement-3.svg',
                            text: 'Желание побеждать'
                        }
                    ]
                each item, index in items
                    li.requirements-item
                        .requirements-item__icon-wrapper
                            img(
                                src="img/" + item.icon,
                                alt=""
                                class="requirements-item__icon-" + (index+1)

                                data-i18n-key-image="requirements_items." + (index+1) + ".image"
                            ).requirements-item__icon
                        .requirements-item__text(data-i18n-key="requirements_items." + (index+1) + ".text")= item.text
            button.button.requirements__button.js-modal-open(data-i18n-key="button_text") Подать заявку

        //.requirements__note
        //    img(src="img/svg/info.svg" alt="").requirements__note-icon
        //    | Заявки принимаются до 30 июня. Приглашение для участия в закрытом бета-тесте придет на указанную почту.
