.beta-test {
    padding-top: 12rem;
    padding-left: 9.5rem;

    position: relative;
}
.beta-test__decoration {
    position: absolute;
    top: .5rem;
    right: -43rem;

    width: 74.2rem;
    height: 85.9rem;
}
.beta-test__content {
    margin-bottom: 11rem;
}
.beta-test__title {
    margin-bottom: 1rem;
    .highlighted {
        color: #FFEA9F;
    }
}
.beta-test__subtitle {
    margin-bottom: 1.2rem;
}
.beta-test__text {
    max-width: 52.5rem;

    margin-bottom: 2.4rem;
}
.beta-test__button {
    position: relative;
    text-transform: none;
    &-text {
        text-transform: uppercase;
    }
    &-subtext {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 164.7%;
        text-align: center;
        letter-spacing: -.1rem;
        color: #FFFFFF;
        white-space: nowrap;

        position: absolute;
        top: calc(100% + 1.5rem);
        left: 50%;
        transform: translateX(-50%);
    }
}
.beta-test__steps {

}
.beta-test-steps {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 17rem));
    grid-gap: 3rem;
}
.beta-test-step {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__banner {
        width: 17rem;
        height: 16rem;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 1.4rem;

        font-weight: 900;
        font-size: 10rem;
        line-height: 138.2%;
        letter-spacing: -.1rem;
        color: #FFFFFF;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        margin-bottom: 2.4rem;

        &:before {
            content: '';

            width: 6rem;
            height: .9rem;

            position: absolute;
            left: calc(100% - 1.5rem);

            background-image: url(../img/line-dashed.svg);
            background-repeat: no-repeat;
            background-size: auto;
        }
    }
    &__text {
        font-weight: 900;
        font-size: 1.6rem;
        line-height: 164.7%;
        text-align: center;
        letter-spacing: -.1rem;
        color: #FFEA9F;
    }



    &:last-child {
        .beta-test-step__banner:before {
            display: none;
        }
    }
}

@media screen and (max-width: 1240px) {
    .beta-test__decoration {
        position: absolute;
        right: -52rem;

        width: 74.2rem;
        height: 85.9rem;
    }
    .beta-test-steps {
        grid-template-columns: repeat(5,minmax(0,13.6rem));
        //         grid-gap: 3rem;
    }
    .beta-test-step {
        $koef: 1.25;
        &__banner {
            width: 17rem / $koef;
            height: 16rem / $koef;

            font-size: 10rem / $koef;

            margin-bottom: 1.8rem;

            &:before {
                width: 6rem / $koef;
                height: .9rem / $koef;

                left: calc(100% - 1.5rem / $koef);

                background-size: 100% 100%;
            }
        }
        &__text {
            font-size: 1.6rem / $koef;
        }
    }
}
@media screen and (max-width: 992px) {
    .beta-test {
        padding-left: 0;
    }
    .beta-test__decoration {
        right: -60rem;
    }
    .beta-test-steps {
        grid-gap: 1rem;
    }
    .beta-test-step {
        $koef: 1.4;
        &__banner {
            width: 17rem / $koef;
            height: 16rem / $koef;

            font-size: 10rem / $koef;

            margin-bottom: 1.8rem;

            &:before {
                width: 6rem / $koef;
                height: .9rem / $koef;

                left: calc(100% - 1.5rem / $koef);

                background-size: 100% 100%;
            }
        }
        &__text {
            font-size: 1.6rem / $koef;
        }
    }
}
@media screen and (max-width: 768px) {
    .beta-test-steps {
        grid-template-columns: repeat(6, minmax(0, 6rem));
        grid-gap: 4rem;
        justify-content: center;
    }
    .beta-test-step {
        &:nth-child(1) {
            grid-column: 1/3;
        }
        &:nth-child(2) {
            grid-column: 3/5;
        }
        &:nth-child(3) {
            grid-column: 5/7;
        }
        &:nth-child(4) {
            grid-column: 2/4;
        }
        &:nth-child(5) {
            grid-column: 4/6;
        }

        &__banner {
            &:before {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .beta-test {

    }
    .beta-test__content {
        text-align: center;
    }
    .beta-test__subtitle {
        text-align: center;
    }
    .beta-test__text {
        text-align: center;
    }
    .beta-test-steps {
        grid-template-columns: repeat(4, minmax(0, 6rem));
        grid-gap: 3rem;
    }
    .beta-test-step {
        &:nth-child(2n - 1) {
            grid-column: 1/3;
        }
        &:nth-child(2n) {
            grid-column: 3/5;
        }
        &:nth-child(5) {
            grid-column: 2/4;
        }
    }
}
