.call-to-action {
    padding-top: 9.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.call-to-action__title {
    margin-bottom: 2.4rem;
}
.call-to-action__text {
    margin-bottom: 2.4rem;
}
.call-to-action__button {
    text-transform: none;
    position: relative;
    &-text {
        text-transform: uppercase;
    }
    &-subtext {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 164.7%;
        text-align: center;
        letter-spacing: -.1rem;
        color: #FFFFFF;
        white-space: nowrap;

        position: absolute;
        top: calc(100% + 1.8rem);
        left: 50%;
        transform: translateX(-50%);
    }
}
