.counter {
    padding-top: 5rem;
}
.counter__decoration-1 {
    $koef: 2;
    width: 68.9rem / $koef;
    height: 72.2rem / $koef;

    position: absolute;
    left: -15rem;
    top: -15rem;

    z-index: -1;
}
.counter__decoration-2 {
    width: 68.9rem;
    height: 72.2rem;
    filter: blur(.45rem);

    position: absolute;
    right: -40rem;
    bottom: -45rem;

    z-index: -1;
}
.counter__content {
    background: #431567;
    border-radius: 3.3rem;
    padding: 4.5rem 4.5rem 8.5rem;

    position: relative;
    z-index: 0;

    margin-bottom: 3.8rem;
}
.counter__title {
    text-transform: uppercase;

    margin-bottom: 5.5rem;
}
.counter__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 31rem));
    grid-gap: 5rem;
    justify-content: center;
}
.counter-item {
    text-align: center;
    &__places {
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 164.7%;
        text-align: center;
        letter-spacing: -.1rem;
        color: #FFFFFF;
    }
    &__number {
        font-weight: 900;
        font-size: 5rem;
        line-height: 164.7%;
        text-align: center;
        letter-spacing: -.1rem;
        color: #FFFFFF;

        margin-bottom: 1rem;
    }
    &__bottom {
        font-weight: 900;
        font-size: 2.2rem;
        line-height: 164.7%;
        text-align: center;
        letter-spacing: -.1rem;
        color: #FFFFFF;
        text-transform: uppercase;

        background: rgba(255, 255, 255, 0.15);
        border-radius: 1.4rem;
        padding: 3rem 0 2.4rem;

        .highlighted {
            color: #FFEA9F;
        }
    }
}
.counter__button {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 1240px) {
    .counter__decoration-2 {
        display: none;
    }
    .counter-item {
        &__places {
        }
        &__number {
            font-size: 4rem;
        }
        &__bottom {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 992px) {
    .counter__items {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .counter-item {
        &:nth-child(1) {
            grid-column: 1/3;
        }
        &:nth-child(2) {
            grid-column: 3/5;
        }
        &:nth-child(3) {
            grid-column: 2/4;
        }
    }
}
@media screen and (max-width: 768px) {
    .counter__decoration-1 {
        left: -22.5rem;
    }
    .counter-item {
        &__places {
        }
        &__number {
            font-size: 3.2rem;
        }
        &__bottom {
            font-size: 1.6rem;
        }
    }
}
@media screen and (max-width: 576px) {
    .counter__content {
        padding: 2.4rem 2.4rem 4.8rem;
    }
    .counter__items {
        grid-template-columns: minmax(0, 31rem);
    }
    .counter-item {
        grid-column: auto !important;
    }
}
