.faq {
    padding-top: 13rem;
    padding-bottom: 8rem;
}
.faq__title {
    margin-bottom: 4rem;
}
.faq__accordion {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2.4rem;

    max-width: 76rem;
    margin: 0 auto;
}

/* accordion */
.accordion {
}
.accordion-item {
    border-radius: 1.4rem;
  &.active {
    background: #FFFFFF;
    .accordion-item {
        &__header {
            background: #FFFFFF;
            color: #7D5AB5;

        }
        &__icon {
            transform: translateY(-50%) rotate(45deg);

            --plus-background: #7D5AB5;
            --plus-color: #FFFFFF;
        }
    }
  }
  &__header {
    background: #7D5AB5;
    border-radius: 1.4rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 164.7%;
    letter-spacing: -.1rem;
    color: #FFFFFF;

    padding: 2rem (2rem + 3.8rem + 5.5rem) 2rem 5.5rem;
    cursor: pointer;
    position: relative;

    transition: background .25s, color .25s;

    .svg-icon {
    }
  }
  &__icon {
    width: 3.8rem;
    height: 3.8rem;

    --plus-background: #FFFFFF;
    --plus-color: #7D5AB5;

    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &__panel {
    color: #1A032C;
    display: none;
    padding: 0 (2rem + 3.8rem + 5.5rem) 3.2rem 5.5rem;
    // padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1240px) {
  .faq {

  }
}
@media screen and (max-width: 576px) {
  .faq {

  }
  .accordion {

  }
  .accordion-item {
    &__panel {
      // padding-right: 1.1rem;
    }
    &__header {
        padding: 1.2rem (2.4rem + 3.8rem + 2.4rem) 1.2rem 2.4rem;
        .svg-icon {
        }
    }
    &__panel {
        font-size: 1.4rem;
        padding: 0 2.4rem 2.4rem;
    }
  }
}
