.first-screen-wrapper {
    padding-top: 7.5rem;
    padding-bottom: 17.5rem;
    min-height: 100vh;

    position: relative;
    z-index: 0;
}
.first-screen-wrapper__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.first-screen-wrapper__background-overlay {
    position: absolute;
    bottom: -8rem;
    left: 0;
    height: 18.5rem;
    width: 100%;

    background: #1A032C;
    filter: blur(5.3rem);

    z-index: -1;
}

.first-screen-wrapper__header {
    margin-bottom: 10.5rem;
}
.first-screen {
    padding-left: 9.5rem;
}
.first-screen__title {
    margin-bottom: 2.4rem;
}
.first-screen__subtitle {
    margin-bottom: 3.6rem;
}
.first-screen__bottom {
    display: flex;
    align-items: center;
}
.first-screen__button {
    flex: 0 0 auto;
    margin-right: 3.2rem;


    position: relative;
    z-index: 222;
}
.first-screen__counter {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 164.7%;
    letter-spacing: -.1rem;
    color: #FFFFFF;
}

@media screen and (max-width: 992px) {
    .first-screen {
        padding-left: 4rem;
    }
}
@media screen and (max-width: 576px) {

    .first-screen-wrapper {
        padding-top: 2.4rem;
        padding-bottom: 20rem;
        min-height: 0;
    }
    .first-screen-wrapper__background {
        max-width: none;
        width: 109rem;
        height: 57rem;

        top: auto;
        left: auto;
        bottom: -26rem;
        right: -12rem;
    }
    .first-screen-wrapper__background-overlay {
        position: absolute;
        bottom: 20rem;
        left: -10%;
        height: 18.5rem;
        width: 120%;

        background: #1A032C;
//         background: yellow;
        filter: blur(2.6rem);
    }
    .first-screen-wrapper__background-overlay-mobile {
        position: absolute;
        bottom: -31rem;
        left: -10%;
        height: 32rem;
        width: 120%;

        background: #1A032C;
//         background: yellow;
        filter: blur(2.6rem);
    }
    .first-screen-wrapper__header {
        margin-bottom: 3.8rem;
    }

    .first-screen {
        padding-left: 0;
    }
    .first-screen__title {
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .first-screen__subtitle {
        text-align: center;
        margin-bottom: 1.8rem;
    }
    .first-screen__bottom {
        flex-direction: column;
    }
    .first-screen__button {
        margin-right: 0;
        margin-bottom: .5rem;
    }
    .first-screen__counter {
        br {
            display: none;
        }
    }
}
