.gallery {
    padding-top: 10.5rem;
}
.gallery__title {
    margin-bottom: 6.4rem;
}
.gallery-carousel {
    max-width: 97rem;
    margin: 0 auto;

    position: relative;

    .owl-nav,
    .owl-dots {
        font-size: 0;
    }
}
.gallery-carousel__nav {

}
.gallery-carousel__nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background: #FFEA9F;

    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
        width: 2.1rem;
        height: 2.4rem;
    }
}
.gallery-carousel__nav-prev {
    right: calc(100% + 4.2rem);

    .gallery-carousel__nav-button-icon {
        transform: rotate(180deg);
    }
}
.gallery-carousel__nav-next {
    left: calc(100% + 4.2rem);
}

.gallery-carousel-item__image {
    border-radius: 6rem;
}

@media screen and (max-width: 1240px) {
    .gallery-carousel {
        max-width: 97rem;
        padding: 0 (7.5rem + 2.4rem);
    }
    .gallery-carousel__nav-prev {
        right: calc(100% + 2.4rem);
    }
    .gallery-carousel__nav-next {
        left: calc(100% + 2.4rem);
    }
}
@media screen and (max-width: 992px) {
    .gallery-carousel {
        padding: 0;
        margin-bottom: 2.4rem + 7.5rem;
    }
    .gallery-carousel__nav-button {
        top: calc(100% + 2.4rem);
        transform: none;
    }
    .gallery-carousel__nav-prev {
        right: calc(50% + 1.2rem);
    }
    .gallery-carousel__nav-next {
        left: calc(50% + 1.2rem);
    }
}
@media screen and (max-width: 576px) {
    .gallery-carousel {
        width: calc(100% + 2rem);
        margin-left: -1rem;
    }
    .gallery-carousel-item__image {
        border-radius: 0;
    }
}
