.modal-form {
    background: #596192;
    border-radius: 1rem;

//     padding-top: 4rem;
//     padding-bottom: 4rem;
    padding: 0;

    text-align: center;
}
.modal-form__title {
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 2.4rem;
}
.modal-form__fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: .8rem;

    margin-bottom: 1.6rem;
}
.modal-form__input {
    border: none;

    height: 6rem;
    background: #3A4069;
    border-radius: .5rem;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.44);

    padding: 0 3.2rem;

    &::placeholder {
        color: rgba(255, 255, 255, 0.44);
    }
}
.modal-form__note {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: (17/11);
    text-align: center;
    color: #FFFFFF;

    margin-bottom: 2rem;
}
.screenshot {
    max-width: 37rem;
    margin: 0 auto;

    padding: 2.5rem 2.1rem 2.8rem;

    border: .1rem solid #FFFFFF;
    border-radius: 1.4rem;

    &__title {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: .8rem;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 1.1rem;
        line-height: (17/11);
        text-align: center;
        color: #FFFFFF;

        margin-bottom: 2.6rem;
    }
    &__input {
        display: block;
        cursor: pointer;

        height: 4.3rem;
        width: 16rem;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 auto;

        input {
            visibility: none;
            position: absolute;
            left: -9999px;
            opacity: 0;
        }
    }
}
.modal-form__screenshot {
    margin-bottom: 3.2rem;
}
.checkbox {
    cursor: pointer;
    max-width: 35rem;
    margin: 0 auto;
    display: flex;
    align-items: center;

    input {
        visibility: none;
        position: absolute;
        left: -9999px;
        opacity: 0;

        &:checked ~ .checkbox__box {
            &:before {
                opacity: 1;
            }
        }
    }
    &__box {
        flex: 0 0 auto;

        width: 3.2rem;
        height: 3rem;

        background: #3A4069;
        border-radius: .5rem;

        margin-right: 1.6rem;

        position: relative;
        &:before {
           content: '';

           width: 1.4rem;
           height: 1.4rem;

           background: #C55BEA;
           border-radius: .4rem;

           position: absolute;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
           opacity: 0;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 1.1rem;
        line-height: (15/11);
        color: #FFFFFF;
        a {
            color: #C55BEA;
        }
    }
}
.modal-form__checkbox {
    margin-bottom: 2.5rem;
}
