.steps-and-requirements {
    display: flex;
    justify-content: flex-end;

    padding-top: 3.5rem;

    position: relative;
    z-index: 0;
}
.steps-and-requirements__decoration {
    width: 57.4rem;
    height: 125.8rem;

    position: absolute;
    top: -15rem;
    left: -29rem;
    z-index: -1;
}
.steps-and-requirements__content {
    max-width: 22.5rem*3 + 8rem*2;
    margin-right: 3rem;
}

/* steps */
.steps {
    margin-bottom: 4.8rem;
}
.steps__title {
    margin-bottom: 3.2rem;
}
.steps__subtitle {
    margin-bottom: 7.5rem;
}
.steps__list {
}

/* steps-list */
.steps-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 22.5rem));
    grid-gap: 8rem;
}
.steps-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__banner {
        width: 22.5rem;
        height: 21rem;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 1.4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 2.5rem;

        &-image {
            &-1 {
                width: 15.3rem;
                height: 15.3rem;
            }
            &-2 {
                width: 15.1rem;
                height: 7.9rem;
            }
            &-3 {
                width: 16.5rem;
                height: 11.6rem;
            }
        }
    }
    &__text {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 164.7%;

        text-align: center;
        letter-spacing: -.1rem;

        .highlighted {
            font-weight: 900;
            color: #FFEA9F;
        }
    }
}

/* requirements */
.requirements {

}
.requirements__title {
    margin-bottom: 4rem;
}

/* requirements-list */
.requirements-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 22.5rem));
    grid-gap: 8rem;
}
.requirements-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__banner {
        width: 22.5rem;
        height: 21rem;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 1.4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 2.5rem;

        &-image {
            &-1 {
                width: 13rem;
                height: 15.8rem;

                align-self: flex-end;
            }
            &-2 {
                width: 13.5rem;
                height: 13.5rem;
            }
            &-3 {
                transform: scale(.72);
            }
        }
    }
    &__text {
        font-weight: 900;
        font-size: 1.6rem;
        line-height: 164.7%;

        text-align: center;
        letter-spacing: -.1rem;

        color: #FFEA9F;
    }
}

@media screen and (max-width: 1240px) {
    .steps-and-requirements__decoration {
        left: -45rem;
    }
}
@media screen and (max-width: 992px) {
    .steps-list {
        justify-content: center;
        grid-template-columns: repeat(3,minmax(0,18rem));
        grid-gap: 4rem;
    }
    .steps-list-item {
        &__banner {
            $koef: 1.25;

            width: 22.5rem / $koef;
            height: 21rem / $koef;

            &-image {
                &-1 {
                    width: 15.3rem / $koef;
                    height: 15.3rem / $koef;
                }
                &-2 {
                    width: 15.1rem / $koef;
                    height: 7.9rem / $koef;
                }
                &-3 {
                    width: 16.5rem / $koef;
                    height: 11.6rem / $koef;
                }
            }
        }
    }
    .requirements-list {
        justify-content: center;
        grid-template-columns: repeat(3,minmax(0,18rem));
        grid-gap: 4rem;
    }
    .requirements-list-item {
        &__banner {
            $koef: 1.25;

            width: 22.5rem / $koef;
            height: 21rem / $koef;

            &-image {
                &-1 {
                    width: 13rem / $koef;
                    height: 15.8rem / $koef;
                }
                &-2 {
                    width: 13.5rem / $koef;
                    height: 13.5rem / $koef;
                }
                &-3 {
                    transform: scale(.72 / $koef);
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .steps-and-requirements__decoration {
        display: none;
    }
    .steps-list {
        grid-template-columns: repeat(4,minmax(0,9rem));
    }
    .steps-list-item {
        &:nth-child(1) {
            grid-column: 1/3;
        }
        &:nth-child(2) {
            grid-column: 3/5;
        }
        &:nth-child(3) {
            grid-column: 2/4;
        }
    }
    .requirements-list {
        grid-template-columns: repeat(4,minmax(0,9rem));
    }
    .requirements-list-item {
        &:nth-child(1) {
            grid-column: 1/3;
        }
        &:nth-child(2) {
            grid-column: 3/5;
        }
        &:nth-child(3) {
            grid-column: 2/4;
        }
    }
}
@media screen and (max-width: 576px) {
    .steps-and-requirements__content {
        margin-right: 0;
    }
    .steps-list {
        grid-template-columns: minmax(0, 22.5rem);
    }
    .steps-list-item {
        grid-column: auto !important;
    }
    .requirements-list {
        grid-template-columns: minmax(0, 22.5rem);
    }
    .requirements-list-item {
        grid-column: auto !important;
    }
}
