.why-play {
    padding-top: 8rem;
}
.why-play__title {
    margin-bottom: 7rem;
}
.why-play__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 22.5rem));
    grid-gap: 7.5rem;
    justify-content: center;
}
.why-play-item {
    &__banner {
        width: 22.5rem;
        height: 21rem;

        background: rgba(255, 255, 255, 0.08);
        border-radius: 1.4rem;

        margin-bottom: 2.4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &-image {
            mix-blend-mode: lighten;

            &-1 {
                width: 16.3rem;
                height: 18.3rem;
            }
            &-2 {
                width: 12.4rem;
                height: 17.5rem;
            }
            &-3 {
                width: 19.5rem;
                height: 19.7rem;
            }
            &-4 {
                width: 20rem;
                height: 21.3rem;
            }
        }
    }
    &__title {
        font-weight: 900;
        font-size: 2.2rem;
        line-height: 164.7%;
        text-align: center;
        letter-spacing: -.1rem;
        color: #FFEA9F;

        margin-bottom: 1.2rem;
    }
    &__text {

    }
}

@media screen and (max-width: 1240px) {
    .why-play__list {
        grid-template-columns: repeat(4, minmax(0, 18rem));
        grid-gap: 4rem;
    }
    .why-play-item {
        $koef: 1.25;
        &__banner {
            width: 22.5rem / $koef;
            height: 21rem / $koef;

            margin-bottom: 2.4rem;

            &-image {
                &-1 {
                    width: 16.3rem / $koef;
                    height: 18.3rem / $koef;
                }
                &-2 {
                    width: 12.4rem / $koef;
                    height: 17.5rem / $koef;
                }
                &-3 {
                    width: 19.5rem / $koef;
                    height: 19.7rem / $koef;
                }
                &-4 {
                    width: 20rem / $koef;
                    height: 21.3rem / $koef;
                }
            }
        }
        &__title {
            font-size: 1.8rem;
            margin-bottom: 1.2rem;
        }
        &__text {
            font-size: 1.4rem;
        }
    }
}
@media screen and (max-width: 992px) {
    .why-play__list {
        grid-template-columns: repeat(2, minmax(0, 18rem));
        grid-gap: 4rem;
    }
}
@media screen and (max-width: 576px) {
    .why-play__list {
        grid-template-columns: minmax(0, 18rem);
        grid-gap: 3rem;
    }
}
